 <div id="jstree">
	<ul>
		 <li>Categorie
			<ul>
				 {% for v in categories %}
					{% include 'setting/item_category.htm' with {'item': v,'selected_items':categorie_selezionate,'profiles':profiles} %}
				 {% endfor %}
			</ul>
		</li>

	</ul>


  </div>
 



<textarea type="textarea" style="display:none" class="form-control" id="categories" name="formdata[categories]"></textarea>


<script>
 $(function () {
	// 6 create an instance when the DOM is ready
	$.jstree.defaults.core.themes.variant = "large";
	$('#jstree').jstree({
		"variant" : "large",
		"types" : {
		  "default" : {
			"icon" : "fa fa-check"
		 },
		},
		"plugins" : [ "wholerow", "checkbox","types" ]
	});
	// 7 bind to events triggered on the tree
	$('#jstree').on("changed.jstree", function (e, data) {
	  console.log(data.selected);
	  var dati = JSON.stringify(data.selected);
	  $('#categories').val(dati);
	  console.log(dati);
	});
	$('.cont-profile-select').on('click',function(e){
		 e.isDefaultPrevented();
		 e.stopPropagation();
		 return false;
	});
	// 8 interact with the tree - either way is OK
	$('.profile-select').on('change',function(e){
			alert('qua');
			e.isDefaultPrevented() 
			e.stopPropagation();
			return false;
			//console.log(event);
		});



		$('.profile-select').on('click',function(e){
			
			 e.stopPropagation();
			 return false;
		});
 });


  /*$(window).load(function(){
	
	setTimeout(function(){
		
		$('.profile-select').on('change',function(e){
			alert('qua');
			e.stopPropagation();
			return false;
			//console.log(event);
		});



		$('.profile-select').on('click',function(e){
			
			 e.stopPropagation();
			 return false;
		});
		

		if( typeof js_mapping_categories != 'undefined' && js_mapping_categories != null ){

			for( var k in js_mapping_categories){
				$('#'+k).find('select').val(js_mapping_categories[k]);
			}
		}


	},2000);
});*/

</script>