{% extends 'layouts/page_catalog.htm' %}
{% block metatags_title %}{{meta_title}}{% endblock %}
{% block metatags_description %}{{meta_description}}{% endblock %}
{% block content %}
<h4 class="txtc m-b-0">{{title}}</h4>
<div class="clear"></div>
<div class="row precprod">
	<div class="col-xs-12 col-sm-6 col-sm-6 col-lg-6">
		<button class="selfiltri  {%if filtri_attivi %}active{% endif %}">
			<img src="themes/jewels/images/ico_filtri.png">
			<img src="themes/jewels/images/ico_close_filtri.png">
			Filtri
		</button>
	</div>
	<div class="col-xs-12 col-sm-6 col-sm-6 col-lg-6">
		{% include 'partials/order_type.htm' %}
		{% include 'partials/view_type.htm' %}
		{% include 'partials/per_page.htm' %}
	</div>
</div>
{% include 'partials/side_column.htm' %}
<div class="coldx  {%if filtri_attivi %}resize{% endif %}">
	<div class="contprod">
		{% if prodotti == false %}
			<span>{{tr('Nessun articolo presente','catalogo')}}</span>
		{% else %}
			{% for riga in prodotti %}
				{% include 'partials/product_list.htm' with {'product_row': riga,'img_type_product_list':type_img,'class_row_product':class_row} %}
			{% endfor %}
		{% endif %}
	</div>
	{% if other_products_pager %}
	<div class="btn-showmore" id="btn-showmore" onclick="show_other_products($(this),'{{return_location}}',1)" style="display:{% if load_on_scroll %}none{% else %}block{% endif %}">
		{{tr('mostra altri')}}
	</div>
	{% if load_on_scroll %}
		<div class="space20"></div>
		<div id="loader-ajax" style="display:none">caricamento in corso</div>
		<span class="end_list_page"></span>
	{% endif %}
	{% endif %}
	<div class="space120"></div>
	<div class="pull-right">
		{{links['all']|raw}}
	</div>
	<div class="space40"></div>
</div>
{% endblock %}