<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>



<head>

        <title>{getconfig(#titoli_pagine#,#home#)}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta name="Keywords" content="">

        <meta name="Description" content="">

    </head>

    <body>



		<div class="contenitore">

			<ul class="menu-home">

				<li><a href="/p/storia.htm">Storia</a></li>

				<li><a href="/news.php?action=all&type=3">Collezioni</a></li>

				<li><a href="/p/stile.htm">Stile</a></li>

				<li><a href="/p/info.htm">Info</a></li>

				<!--<li><a href="/news.php?action=all&type=2">Press</a></li>

				<li><a href="/news.php?action=all&type=1">News</a></li>-->

				<li><a href="/p/store_locator.htm">Store locator</a></li>

			</ul>

		</div>

    </body>

</html>
