<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{getconfig(#generale#,#home#)}</title>
<base href="{baseurl}/"/>
</head>
<div style="display:none; white-space:nowrap; font:15px courier; color:#ffffff; line-height:0; width:600px !important; min-width:600px !important; max-width:600px !important;">
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
</div>
<body>
	<table width="600" cellpadding="0" cellspacing="0" align="center">
		<tr>
			<td>
				<a href="mailto:tiukesrls@libero.it">
					<img src="http://www.addati.it/img/tiuke-newsletter.png" alt="Immagine Newsletter Tiuke" width="600" style="min-width: 600px; max-width: 600px">
				</a>
			</td>
		</tr>
	</table>
</body>
</html>