<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
		 <head>
				  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
				  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
				  <meta name="format-detection" content="address=no, date=no, email=no, telephone=no" />
				  <title>newsletterBelardini</title>
				  
		  
		 </head>
		
<body>
	 <table width="700" align="center">
	 <tr>
	 <td>



				  <table width="700" height="30" align="center" style="background:#E4E4E4;">
						 <tr>
							   <td align="right">
								   <img   src="http://mariapia.test3d0.it/newsletter/newsletter2/risorsatel.png" alt="iconatelefono"><font face="Georgia "color="#B03D24">0823 51.31.07</font>
							   </td>
							 <td>&nbsp;</td>
						</tr>
				  </table>

					 <table width="700" height="115" align="center" style="background:#E4E4E4;">
						  <tr>
							   <td align="left">
								  <a href="#" target="_blank"><img   src="http://mariapia.test3d0.it/newsletter/newsletter2/intestazione.png" alt="logo"></a>
								</td>

						

									<td  align="right" valign="bottom">

											<table>
													   <tr>
															 <td>
																<a href="#"><font color="#6B6B6B">Home</font></a>
															 </td>
																 <td>&emsp;</td>
																	 <td>
																		<a href="#"><font color="#6B6B6B">Azienda</font></a>
																	 </td>
																		<td>&emsp;</td>
																	<td>
																		<a href="#"><font color="#6B6B6B">Catalogo</font></a>
																	</td>
																	 <td>&emsp;</td>
																<td>
																   <a href="#"><font color="#6B6B6B">Contatti</font></a>
																</td>
															 <td>&emsp;</td>
														</tr>
														   <tr>
															 <td align="right">&nbsp;</td>
														   </tr>
											 </table>
									</td>
							</tr>
					  </table>




					 <table width="700" height="138" align="center" style="background:#ffffff;" >
						 <tr>
							<td align="center" style="padding:25px;">
							       <font  size="38px" face="Giorgia" color="#A93519" style="line-height: 45px;">E' tempo di fare rifornimento <br> dei tuoi prodotti abituali.</font>
							</td>
						 </tr>
					 </table>


					<table  width="700" height="256" align="center" style="background:#FF9100;" >
						<tr>
						   <td>&emsp;&emsp;</td>
						</tr>
							<tr>
							  <td>&emsp;&emsp;</td>
							</tr>
								<tr>
									<td align="center" >
									<img   src="http://mariapia.test3d0.it/newsletter/newsletter2/shopping.png" alt="iconashopping"></td></tr>
									<tr><td align="center"><font size="6" face="Myriad Pro"  color="FFFFFF">Accedi al <b>catalogo</b> e approfitta delle <br> <b>vantaggiose offerte</b></font></td>
								</tr>
							<tr>
								<td>&emsp;&emsp;</td>
							</tr>
						<tr>
						   <td>&emsp;&emsp;</td>
						</tr>
					</table>

						   <table  width="700" height="256" align="center" style="background:#00B0FF;" >
								<tr>
									 <td>&emsp;&emsp;</td>
								</tr>
									<tr>
									   <td>&emsp;&emsp;</td>
									</tr>
											<tr>
												<td>&emsp;&emsp;</td>
											</tr>
												<tr>
													<td align="center" >
														<img   src="http://mariapia.test3d0.it/newsletter/newsletter2/spedizione.png" alt="iconaspedizione">
													</td>
												</tr>
											<tr>
											   <td align="center" ><font size="6" face="Myriad Pro" style="line-height: 27,6px;" color="#FFFFFF"><b>Spese di spedizione zero</b> (<em>fino a 5Kg</em>)</font></td>
											</tr>
										<tr>   
										   <td>&emsp;&emsp;</td>
										</tr>
									<tr>
									   <td>&emsp;&emsp;</td>
									</tr>
								<tr>
									<td>&emsp;&emsp;</td>
								</tr>
						   </table>

								<table  width="700" height="212" align="center" style="background:#FF1744;" >
										 <tr>
										   <td>&emsp;&emsp;</td>
										 </tr>
											 <tr>
												<td>&emsp;&emsp;</td>
											</tr>
										<tr>
											<td align="center"><font size="6" face="Myriad Pro" style="line-height: 25,6px;" color="#FFFFFF"><b>E in omaggio, </b> <em>riceverai</em> <b>un telo mare</b></font></td></tr>
											<tr><td align="center" ><img   src="http://mariapia.test3d0.it/newsletter/newsletter2/img.png" alt="telomare"></td>
										</tr>
								</table>

						  <table width="700" height="95" align="center" style="background:#DB1828;">
										<tr>
											<td>&emsp;</td>
										</tr>
											<tr>
												<td>&emsp;</td>
												<td align="left" ><img src="http://mariapia.test3d0.it/newsletter/newsletter2/maggiorinfo.png" alt="iconainfo" ></td>
												<td><font color="#ffffff" >Hai bisogno di maggiori <br> informazioni? <a href="#"><font color="#ffffff">Contattaci qui</font></a></font></td>
												<td align="right" ><a href="https://www.belardinidelgiudice.it" target="_blank"><font color="#ffffff">www.belardinidelgiudice.it</font></a></td>
												<td>&emsp;&emsp;</td>
											</tr>
												<tr>
												   <td>&emsp;&emsp;</td>
												</tr>
											<tr>
												<td>&emsp;&emsp;</td>
											</tr>
										<tr>
											<td>&emsp;&emsp;</td>
										</tr>
						   </table>

					<table width="700" cellspacing="0" cellpadding="0" height="95" align="center" style="background:#E4E4E4;">
							<tr>
								<td align="left" ><font size="2" color="6B6B6B" >Copyright 2016 Belardini Pasquale s.a.s. P.Iva 00013650635 tutti i diritti riservati.<br> La cancellazione dalla newsletter potrà avvenire in qualsiasi momento, semplicemente inviando una mail all'indirizzo:<br>(<a href="#"><font color="6B6B6B" >clicca qui</font></a>)</font>
								</td>
							</tr>

					</table>

  
			</td>   
		</tr>
	</table>
</body>

</html>