<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
		 <head>
			  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
			  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		           <title>newsletterTecneco</title>
		                 <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
				<style>
						* {
							text-decoration: none;
							
						}

						table, td, tr, th, thead, tbody
						{
							margin-top:0;
							margin-bottom:0;
							padding:0;

						}

						
						
						a {
							display: inline-block;
						}
				</style>
		 </head>
		
 <body>
		 <table width="700"  align="center" >
		  <tr>
		   <td >

						<table width="700" height="90" align="center" style="background:#FFFFFF;">
							<tr>
								<td align="center">
								<a href="https://www.tecneco.com/" target="_blank"><img  src="http://mariapia.test3d0.it/newsletter/Tecneco.png" alt="Tecneco"></a>
								<hr>
								</td>
							</tr>
						</table>
							<table width="700" cellspacing="0" cellpadding="0" align="center" style="background:#FFFFFF;">
								<tr>
								  <td align="center"  width="700">
								  <font face=" Montserrat"  size="30" color=" #000000" style="line-height: 80px; font-weight: 900;">
									 NUOVI PREZZI 2018</font></td>
								  </tr>
									<tr><td align="center" ><img  src="http://mariapia.test3d0.it/newsletter/cover2copia.png" width="700" alt="tecnecoprodotti"></td></tr>
									<tr>
										<td height="60" colspan="5"></td>
									</tr>
										<tr> <td align="center"  width="700">
										  <font face="Montserrat" size="+3" color="000000" style="line-height: 40px; font-weight: 600;">
										   NUOVO LISTINO PREZZI ITALIA<br>
											E NUOVI PREZZI NETTI 2018
										  </font>
										 
										  <br><br>
								   
										<font face="Montserrat" size="3" color="000000" style="line-height: 30px;">
											Gentile Cliente,<br>
											con la presente informiamo che a partire dal<b> 1 giugno 2018</b> entrano in<br>
											vigore nuovo <b>LISTINO PREZZI ITALIA 2018</b> <br>
											e <b>NUOVI PREZZI NETTI 2018.</b>
										</font>		  
								  </td>
								</tr>
								<tr>
										<td height="50" colspan="5"></td>
									</tr>
									<tr>
							
							</table>
					
									<table  width="500"  cellspacing="0" cellpadding="0" align="center" >
										<tr>
										   <td>
												<table width="270"  cellspacing="0" cellpadding="0" align="left">
																<tr style="background: #FFD800;height:48px;"  >
																	<td ><img src="http://mariapia.test3d0.it/newsletter/pdf.png" alt="pdf" style="margin:0 0 0 0;min-height:40px;max-height:40px;"></td>
																	  <td><a  href="#"><font  face="Montserrat-bold" size="2" color="000000" style="line-height: 20px;"><b>LISTINO PREZZI ITALIA 2018</b></font></a></td>
																</tr> 
															 <tr><td>&nbsp;</td></tr>
																<tr style="background: #FFD800;height:48px;">
																	<td ><img src="http://mariapia.test3d0.it/newsletter/exc.png" alt="pdf" style="margin:0 0 0 0;min-height:40px;max-height:40px;"></td>
																	  <td ><a  href="#"><font  face="Montserrat-bold" size="2" color="000000" style="line-height: 20px;"><b>LISTINO PREZZI ITALIA 2018</b></font></a></td>
																</tr> 
												</table>

												   <table width="210"  cellspacing="0" cellpadding="0" align="right">

														   <tr style="background: #FFD800;height:48px;">
																   <td ><img src="http://mariapia.test3d0.it/newsletter/pdf.png" alt="pdf" style="margin:0 0 0 0;min-height:40px;max-height:40px;"></td>
																	 <td ><a  href="#"><font  face="Montserrat-bold" size="2" color="000000" style="line-height: 20px;"><b>PREZZI NETTI 2018</b></font></a></td>	
															</tr>
															    <tr><td>&nbsp;</td></tr>
															<tr style="background: #FFD800;height:48px;">
																	<td><img src="http://mariapia.test3d0.it/newsletter/exc.png" style="margin:0 0 0 0;min-height:40px;max-height:40px;" alt="pdf"></td>
																	  <td ><a href="#"><font  face="Montserrat-bold" size="2" color="000000" style="line-height: 20px;"><b>PREZZI NETTI 2018</b></font></a></td>
															</tr>   
													</table>
										     </td>
										</tr>
									</table>


												<table width="700" cellspacing="0" cellpadding="0" align="center" style="background:#FFFFFF;">
													<tr>
														<td align="center"  width="700"> <font face="Montserrat" size="3" color="#000000" style="line-height: 126px;">Restiamo a disposizione, grazie per l'attenzione.</font></td>
													</tr>
												</table>


<table width="700"   cellspacing="0" cellpadding="0" align="center" style="background:#d7d7e2;">
													<tr>
													<td>
																	  <table   width="200"  cellspacing="0" cellpadding="0" align="left">
																					<tr>
																							<td height="20">&nbsp;</td>
																					</tr>
																						<tr>
																								   <td align="center" valign="top"><img src="http://mariapia.test3d0.it/newsletter/qcertificata.png" alt="qualitàcertificata"></td>
																						</tr>
																							<tr>
																									<td height="23">&nbsp;</td>
																							</tr>
																							   <tr>
																									  <td align="center"><font face="Montserrat" size="5" weight="800" color="#000" style="line-height: 22px;" ><b>QUALITA'<br> CERTIFICATA</b></font></td>
																							   </tr>
																							<tr>
																									<td height="20">&nbsp;</td>
																							</tr>
																						 <tr>
																								  <td align="center" style="max-width:400px">
																											<img src="http://mariapia.test3d0.it/newsletter/scopricertificazioni.png"  alt="scopri le certificazioni">
																								  </td>
																						</tr>
																						
																		 </table>
															
																		<table width="270" cellspacing="0" cellpadding="0" align="right">
																				<tr>
																						<td height="20">&nbsp;</td>
																				</tr>

																					<tr>
																						<td align="center" ><img src="http://mariapia.test3d0.it/newsletter/newsletter2.png" alt="newsletter"></td>
																					</tr>
																						<tr>
																							<td height="18">&nbsp;

																							</td>
																						</tr>
																						<tr>
																						   <td align="center" ><font  face="Montserrat" size="5" weight="800" color="#000" style="line-height: 22px;" ><b>ISCRIVITI<br>ALLA NEWSLETTER</b></font></td>
																						</tr>
																							<tr>
																								<td height="20"></td>
																							</tr>
																						<tr>
																						  <td align="center" ><img src="http://mariapia.test3d0.it/newsletter/iscrivitinovita.png"  alt="scopri le novità"></td>
																						</tr>
																						<tr>
																							<td height="20"></td>
																						</tr>
																						<tr>
																						 <td align="center"><button type="button" style="background:#d7d7e2; border: 1px solid;" ><a href="https://www.tecneco.com/newsletter.php"><font face="Montserrat" size="2" weight="900" color="#000" style="line-height: 22px;" >LA TUA MAIL &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;></font></button></a></td>
																					
																						</tr>
																					 
																			</table>
																			 <table   width="230"  cellspacing="0" cellpadding="0" >
																					<tr>
																							<td height="20">&nbsp;</td>
																					</tr>

																						<tr>
																							<td align="center"><img src="http://mariapia.test3d0.it/newsletter/collegati2.png" alt="paginesocial"></td>
																						</tr>
																								<tr>
																									<td height="22">&nbsp;

																									</td>
																								</tr>

																							<tr><td align="center"><font face="Montserrat" size="5" weight="800" color="#000" style="line-height: 22px;" ><b>COLLEGATI<br> CON NOI</b></font></td>
																							</tr>
																								<tr>
																									<td height="20">&nbsp;

																									</td>
																								</tr>
																							<tr><td align="center"><font face="Arial" color="#000" size="1">SEGUI I NOSTRI CANALI SOCIAL E FACEBOOK</font></td>
																							</tr>
																								<tr>
																									<td height="20">&nbsp;

																									</td>
																								</tr>
																							<tr><td align="center"><a href="#"><img  src="http://mariapia.test3d0.it/newsletter/segui.png" alt="twitter"></a></td>
																							</tr>
																							<tr><td align="center"><a href="#"><img src="http://mariapia.test3d0.it/newsletter/facebook.png" style="margin:6px;" alt="Fb"></a></td>
																							</tr>
																								<tr>
																									<td height="20">&nbsp;

																									</td>
																								</tr>
																				</table>
																</td>
															</tr>
													</table>
<!---
													<table width="700"   cellspacing="0" cellpadding="0"  align="center" >
													<tr>
													        <td width="200" cellspacing="0" cellpadding="0" align="left">
																	  <table   width="200"  cellspacing="0" cellpadding="0" >
																					
																						<tr>
																								   <td align="center" ><img src="http://mariapia.test3d0.it/newsletter/qcertificata.png" alt="qualitàcertificata"></td>
																						</tr>
																							<tr>
																									<td height="23">&nbsp;</td>
																							</tr>
																							   <tr>
																									  <td align="center"><font face="Montserrat" size="5" weight="800" color="#000" style="line-height: 22px;" ><b>QUALITA'<br> CERTIFICATA</b></font></td>
																							   </tr>
																							<tr>
																									<td height="20">&nbsp;</td>
																							</tr>
																						 <tr>
																								  <td>
																											<img src="http://mariapia.test3d0.it/newsletter/scopricertificazioni.png"  alt="scopri le certificazioni">
																								  </td>
																						</tr>
																						
																		 </table>
															</td>

																<td width="210"  cellspacing="0" cellpadding="0" align="middle">

																		 <table   width="210"  cellspacing="0" cellpadding="0" >
																					<tr>
																							<td height="20">&nbsp;</td>
																					</tr>

																						<tr>
																							<td align="center"><img src="http://mariapia.test3d0.it/newsletter/collegati2.png" alt="paginesocial"></td>
																						</tr>
																								<tr>
																									<td height="22">&nbsp;

																									</td>
																								</tr>

																							<tr><td align="center"><font face="Montserrat" size="5" weight="800" color="#000" style="line-height: 22px;" ><b>COLLEGATI<br> CON NOI</b></font></td>
																							</tr>
																								<tr>
																									<td height="20">&nbsp;

																									</td>
																								</tr>
																							<tr><td ><img src="http://mariapia.test3d0.it/newsletter/seguisocial.png"  alt="segui i nostri canali social"></td>
																							</tr>
																								<tr>
																									<td height="20">&nbsp;

																									</td>
																								</tr>
																							<tr><td align="center"><a href="#"><img  src="http://mariapia.test3d0.it/newsletter/segui.png" alt="twitter"></a></td>
																							</tr>
																							<tr><td align="center"><a href="#"><img src="http://mariapia.test3d0.it/newsletter/facebook.png" style="margin:6px;" alt="Fb"></a></td>
																							</tr>
																								<tr>
																									<td height="20">&nbsp;

																									</td>
																								</tr>
																				</table>
																	</td>
																		
															  <td width="258" cellspacing="0" cellpadding="0" align="right">
																		<table width="258" cellspacing="0" cellpadding="0" >
																				<tr>
																						<td height="20">&nbsp;</td>
																				</tr>

																					<tr>
																						<td align="center" ><img src="http://mariapia.test3d0.it/newsletter/newsletter2.png" alt="newsletter"></td>
																					</tr>
																						<tr>
																							<td height="18">&nbsp;

																							</td>
																						</tr>
																						<tr>
																						   <td align="center" ><font  face="Montserrat" size="5" weight="800" color="#000" style="line-height: 22px;" ><b>ISCRIVITI<br>ALLA NEWSLETTER</b></font></td>
																						</tr>
																							<tr>
																								<td height="20"></td>
																							</tr>
																						<tr>
																						  <td><img src="http://mariapia.test3d0.it/newsletter/iscrivitinovita.png"  alt="scopri le novità"></td>
																						</tr>
																						<tr>
																							<td height="20"></td>
																						</tr>
																						<tr>
																						 <td align="center"><button type="button" style="background:#d7d7e2; border: 1px solid;" ><a href="https://www.tecneco.com/newsletter.php"><font face="Montserrat" size="2" weight="900" color="#000" style="line-height: 22px;" >LA TUA MAIL &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;></font></button></a></td>
																					
																						</tr>
																					 
																			</table>

																			  
																			
																 </td>
															</tr>
													</table>
--->

												<table width="700" cellspacing="0" cellpadding="0" align="center" style="background:#FCE41A;">

													  <tr>
														  <td width="170"><a href="#"><img src="http://mariapia.test3d0.it/newsletter/retecommerciale2.png" style="margin:0 0 -5px 0;" alt="rete commerciale"></a></td>
																<td width="170"><a href="#"><img src="http://mariapia.test3d0.it/newsletter/catalogoonline2.png" style="margin:0 0 -5px 0;" alt="catalogoonline"></a></td>
															<td  width="200"><a href="#"><img src="http://mariapia.test3d0.it/newsletter/iscriviti2.png" style="margin:0 0 -4px 0;" alt="iscriviti alla newsletter"></a></td>
															   <td width="130"><a href="#"><img src="http://mariapia.test3d0.it/newsletter/fb.png" alt="FB"></a>
																				<a href="#"><img src="http://mariapia.test3d0.it/newsletter/Tw.png" alt="Twitter"></a>
																				<a href="#"><img src="http://mariapia.test3d0.it/newsletter/I.png" alt="Instagram"></a>
																				<a href="#"><img src="http://mariapia.test3d0.it/newsletter/Youtube.png" alt="Youtube"></a>
															   </td>
															   
													  </tr>
													  
												</table>
																												
		

								<table width="700" cellspacing="0" cellpadding="0" align="center" style="background:#d7d7e2;">
										  <tr> 
										      <td height="20">&nbsp;</td>
										  </tr>

												  <tr>
														
												 
														<td width="100" valign="top">
															<table cellspacing="0" cellpadding="0" align="center" >
																<tr><td align="left"><font size="2" face="Montserrat" color="#000" style="line-height: 15px; font-weight: 700;">PRODOTTI</font></td></tr>
																<tr><td height="20">&mdash;</td></tr>
																<tr><td><font size="-2" face="Montserrat" color="#ffffff">
																	<a href="http://www.tecneco.com/p/prodotti.htm#prodotti_aria?lang=it" target="_blank" style="line-height: 15px; color:#000000;">
																		Filtri Aria
																	</a>
																</font></td></tr>
																<tr><td><font size="-2" face="Montserrat" color="#000000">
																	<a href="http://www.tecneco.com/p/prodotti.htm#prodotti_olio?lang=it" target="_blank" style="line-height: 15px; color:#000000;">
																		Filtri Olio
																	</a>
																</font></td></tr>
																<tr><td><font size="-2" face="Montserrat" color="#000000">
																	<a href="http://www.tecneco.com/p/prodotti.htm#prodotti_carburante?lang=it" target="_blank" style="line-height: 15px; color:#000000;">
																		Filtri Carburante
																	</a>
																</font></td></tr>
																<tr><td><font size="-2" face="Montserrat" color="#000000">
																	<a href="http://www.tecneco.com/p/prodotti.htm#prodotti_abitacolo?lang=it" target="_blank" style="line-height: 15px; color:#000000;">
																		Filtri Abitacolo
																	</a>
																</font></td></tr>
																<tr><td><font size="-2" face="Montserrat" color="#000000">
																	<a href="http://www.tecneco.com/p/garanzia.htm?lang=it" target="_blank" style="line-height: 15px; color:#000000;">
																		Garanzia
																	</a>
																</font></td></tr>
															</table>
														</td>


													
													
													
															 <td width="100" valign="top">
																	 <table cellspacing="0" cellpadding="0" align="center">
																			<tr><td align="left" ><font size="2" face="Montserrat" color="#000" style="line-height: 15px; font-weight: 700;">AZIENDA</font></td></tr>
																			  <tr><td height="20">&mdash;</td></tr>
																			<tr><td><font size="-2" face="Montserrat" color="#000000">
																			<a href="http://www.tecneco.com/p/corporate.htm?lang=it" target="_blank" style="line-height: 15px; color:#000000;">Corporate</a>
																		</font></td></tr>
																			<tr><td><font size="-2" face="Montserrat" color="#000000">
																			<a href="http://www.tecneco.com/p/stabilimenti.htm?lang=it" target="_blank" style="line-height: 15px; color:#000000;">Stabilimenti</a>
																		</font></td></tr>
																			<tr><td><font size="-2" face="Montserrat" color="#000000">
																			<a href="http://www.tecneco.com/p/tecnologie.htm?lang=it" target="_blank" style="line-height: 15px; color:#000000;">Tecnologie</a>

																		</font></td></tr>
																	</table>
															</td>
															
														<td width="100" valign="top">
																 <table cellspacing="0" cellpadding="0" align="center">
																   <tr><td align="left" ><font size="2" face="Montserrat" color="#000000" style="line-height: 15px; font-weight: 700;">COMMERCIAL</font></td></tr>
																	  <tr><td height="20">&mdash;</td></tr> 
																  <tr><td><font size="-2" face="Montserrat" color="#000000">
																	<a href="http://www.tecneco.com/p/catalogo_online.htm?lang=it" target="_blank" style="line-height: 15px; color:#000000;">
																		Catalogo online
																	</a>
																</font></td></tr>
																	<tr><td><font size="-2" face="Montserrat" color="#000000">
																	<a href="http://www.tecneco.com/news.php?action=all&lang=it" target="_blank" style="line-height: 15px; color:#000000;">
																		Aggiornamenti
																	</a>
																</font></td></tr>
																   <tr><td><font size="-2" face="Montserrat" color="#000000">
																	<a href="http://www.tecneco.com/news.php?action=all&type=1&lang=it" target="_blank" style="line-height: 15px; color:#000000;">
																		News
																	</a>
																</font></td></tr>
																	<tr><td><font size="-2" face="Montserrat" color="#000000">
																	<a href="http://www.tecneco.com/news.php?action=all&type=6&lang=it" target="_blank" style="line-height: 15px; color:#000000;">
																		Eventi
																	</a>
																</font></td></tr>
																   <tr><td><font size="-2" face="Montserrat" color="#000000">
																	<a href="http://www.tecneco.com/p/rete_commerciale.htm?lang=it" target="_blank" style="line-height: 15px; color:#000000;">
																		Rete commerciale
																	</a>
																</font></td></tr>
																  <tr><td><font size="-2" face="Montserrat" color="#000000">
																	<a href="http://www.tecneco.com/p/certificazioni.htm?lang=it" target="_blank" style="line-height: 15px; color:#000000;">
																		Certificazioni
																	</a>
																</font></td></tr>
																	 <tr><td><font size="-2" face="Montserrat" color="#000000">
																	<a href="http://www.tecneco.com/p/video_storico.htm?lang=it" target="_blank" style="line-height: 15px; color:#000000;">
																		Video
																	</a>
																</font></td></tr>
																</table>
														</td>


														<td width="100" valign="top">
																<table cellspacing="0" cellpadding="0" align="center">
																	<tr><td align="left" ><font size="2" face="Montserrat" color="#000000" style="line-height:15px; font-weight:700;">
																	CONTATTACI
																</font></td></tr>
																	  <tr><td height="20">&mdash;</td></tr>
																   <tr><td><font size="-2" face="Montserrat" color="#000000">
																	<a href="http://www.tecneco.com/p/contatti.htm?lang=it" target="_blank" style="line-height: 15px; color:#000000;">
																		Contatti
																	</a>
																</font><br /></td></tr>
																	<tr><td><font size="-2" face="Montserrat" color="#000000">
																	<a href="http://www.tecneco.com/cp.php?lang=it" target="_blank" style="line-height: 15px; color:#000000;">Aria riservata</a> </font></td></tr>
																</table>
														</td>
												</tr>     

										   <tr>
											  <td height="30" colspan="4">&nbsp;
											  </td>
										   </tr>

										<tr>
										   <td colspan="4" align="center" width="700"  style="background:#d7d7e2;">

											<table cellspacing="0" cellpadding="0" align="center" valign="top">
											  <tr><td align="center"><font size="-2" face="Montserrat" color="#000000" style="line-height:16px;">&copy; 2018 TECNECO FILTRI srl | P.iva 03289480752 |</font> <a href="#"><img src="http://mariapia.test3d0.it/newsletter/3d0.png" alt="3d0" height="15" style="margin:0 0 -4px 0;min-height:15px;max-height:15px;"></a></td></tr>
											  <tr>
												<td colspan="2" height="10">&nbsp;

												</td>
											  </tr>
											 </table>

										  </td>
										</tr>

							  </table>

			  </td>
			 </tr> 
			</table>
	  
</body>

</html>