<div class="clearfix"></div>
{#<div class="last-orders">
	<h5>{{tr('Ultimi Acquisti','ecommerce')}}</h5>
	{% if carrelli is not null %}
		<a href="index.php?ctrl=Orders&mod=ecommerce" class="all-view">{{tr('Vedi tutti','ecommerce')}}</a>
	{% endif %}
	<div class="space40"></div>
	{% if carrelli is null %}
		<span>{{tr('Nessun ordine presente in archivio.','ecommerce')}}</span>
	{% else %}
		<div class="row">
			{% for riga in carrelli %}
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 s-prod">
					<div class="cont_imgprodsez">
						<a href="index.php?ctrl=Orders&mod=ecommerce&action=view&id={{riga.id}}">
							<img class="imgprod" src="{{riga.image}}">
						</a>
					</div>
					<div class="info">
						<p>{{riga.productname}}</p>
					</div>
				</div>
			{% endfor %}
		</div>
	{% endif %}
</div>

<div class="last-orders">
	<h5>{{tr('Nuovi Corsi','ecommerce')}}</h5>
	<a href="catalog.htm" class="all-view">{{tr('Vedi tutti','ecommerce')}}</a>
	<div class="space40"></div>
</div>
#}
