{% extends 'layouts/page_login.htm' %}
{% block content %}
	<div class="container-small container-login">
		<div class="bkg-area">
			<a href="/index.php" class="logo-area">
				<img src="themes/revoluzione/images/logo-revoluzione-homepage.png">
			</a>
		</div>
		<div class="cont-log-reg">
			<div class="logindata" id="logindata">
				<p><a href="/index.php"><i class="fa fa-angle-left"></i>{{tr('Torna alla home')}}</a></p>
				<h6>{{tr('Iscriviti')}}</h6>
				<form class="form" method="POST" action="index.php">
					<span class="errore">{{messages|raw}}</span>
					<div class="controls">
						<label for="formdata[username]">{{tr('Username')}}</label>
						<input type="text" placeholder="" required name="formdata[username]" value="{{dataform.username.value}}">
					</div>
					<div class="controls">
						<label for="formdata[password]">{{tr('Password')}}</label>
						<input type="password" placeholder="" required name="formdata[password]" value="{{dataform.password.value}}"> 
					</div>
					<input type='hidden' name='formdata[id]'>
					<div class="controls">
						<label for="formdata[shippingName]">{{tr('Nome')}}</label>
						<input type="text" placeholder="" name="formdata[name]" value="{{dataform.name.value}}">
					</div>
					<div class="controls">
						<label for="formdata[shippingSurname]">{{tr('Cognome')}}</label>
						<input type="text" placeholder="" name="formdata[surname]" value="{{dataform.surname.value}}">
					</div>
					<div class="controls">
						<label for="formdata[password]">{{tr('Email')}}</label>
						<input type="text" placeholder="" name="formdata[email]" value="{{dataform.email.value}}">
					</div>
					<div class="controls">
						<label for="formdata[cellular]">{{tr('Telefono')}}</label>
						<input type="text" placeholder="" name="formdata[cellular]" value="{{dataform.cellular.value}}">
					</div>
					<span id="fields_form_anchor"></span>
					<input type='hidden' name='formID'>
					<input type='hidden' name='ctrl' value="Access">
					<input type='hidden' name='action' value="signup">
					<button class="btn-default">{{tr('Iscriviti')}}</button>
				</form>
			</div>
		</div>
	</div>
{% endblock %}