RewriteEngine On
RewriteRule api/all((/order/((id|data)?))?)$ \/index.php?ctrl=Front&mod=photogallery&action=display_all_api&order=$3 [L]
RewriteRule api/view/(.*)$ \/index.php?ctrl=Front&mod=photogallery&action=show_gallery_api&id=$1 [L]