.swiper-container-horizontal > .swiper-scrollbar {
	width: calc(100% - 95px) !important;
	left: 0 !important;
	height: 1px !important;
	background: #CCCBCB !important;
}
.swiper-scrollbar-drag {
	background: #000 !important;
}
.swiper-button-prev {
	top: auto !important;
	margin-top: 0 !important;
	bottom: 0 !important;
	width: 8px !important;
	height: 16px !important;
	left: auto !important;
	right: 40px !important;
}
.swiper-button-next {
	top: auto !important;
	margin-top: 0 !important;
	bottom: 0 !important;
	width: 8px !important;
	height: 16px !important;
	right: 0 !important;
}
.swiper-button-prev {
	background-image: url('../img/ico_arrow_left_slider.png') !important;
	background-size: 8px 16px !important;
}
.swiper-button-next {
	background-image: url('../img/ico_arrow_right_slider.png') !important;
	background-size: 8px 16px !important;
}