<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js sidebar-large lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js sidebar-large lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js sidebar-large lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js sidebar-large"><!--<![endif]-->

<head>
    <!-- BEGIN META SECTION -->
    {output(#metatags.htm#)}
    <!-- END META SECTION -->
  	{output(#css.htm#)}
  	<!--{output(#css_form.htm#)}-->
  	<script src="/plugins/modernizr/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    {output(#javascript_form.htm#)}
   {output(#javascript.htm#)}
    <flexy:toJavascript flexy:prefix="js_"
		cont_valori_attributo="cont_valori_attributo"
    >
</head>

<body data-page="dashboard">
    <!-- BEGIN TOP MENU -->
	{output(#menu_top.htm#)}
    <!-- END TOP MENU -->
    <!-- BEGIN WRAPPER -->
    <div id="wrapper">
        <!-- BEGIN MAIN SIDEBAR -->
    	{output(#colonna_sinistra.htm#)}
    	<!-- END MAIN SIDEBAR -->
       
    	 <!-- BEGIN MAIN CONTENT -->
        <div id="main-content" class="dashboard">
                <div class="m-b-20 clearfix">
	                <div class="page-title pull-left">
						
	                     <h3><strong>Instagram gallery</h3>
						 <h4>STATO: 
							<span style="color:red;" flexy:if="!access_token">Token non associato</span>
							<span style="color:green;" flexy:if="access_token">Token ottenuto. Il token è <b>{access_token}</b></span>
						 </h4>
	                </div>
	                 
	            </div>
                 <div class="alert alert-danger" style="width:100%" flexy:if="errore">
					 <strong>{errore}</strong>
				</div>
				<form role='form' action='index.php' name='attributo' id='attributo' method='POST'>
		<div class="row">
				<div class="col-md-12">
						<div class="panel ">
							
							<div class="panel-body">
									<ol>
										<li>Accedi a https://www.instagram.com/developer/</li>
										<li>Registra la tua app</li>
										<li>Imposta come  "Valid redirect URIs" il valore <b>{url_redirect}</b></li>
										<li>Utilizza il Client ID generato per ottenere il token</li>
									</ol>
									<!--<h5>Inserisci il <b>Client ID</b> e la <b>Client Secret </b> e ottieni il token di Instragram da associare all'app.</h5>-->
									<div class="form-group col-md-12" id="div_includedVAT">
										<label>Inserisci Client ID :</label>
										<div class="controls">
											<input type="text" class="form-control" name="formdata[client_id]" >	
										</div>
									</div>
									<!--<div class="form-group col-md-12" id="div_includedVAT">
										<label>Client Secret :</label>
										<div class="controls">
											<input type="text" class="form-control" name="formdata[secret_id]" >	
										</div>
									</div>-->
									 <input type="hidden" class="form-control" name="action" >	
									 <div class="col-md-12 m-t-20 align-right">
											<button type="submit"  class="btn btn-primary m-t-10"><i class="fa fa-download"></i> Ottieni il token</button>
									</div>
									
							</div>
					 </div>
				</div>
	      </div>
		  
		  <!--<div class="row">
                <div class="col-md-12 m-t-20 m-b-40 align-center">
                    <button type="submit"  class="btn btn-success m-t-10"><i class="fa fa-check"></i> Salva</button>
                </div>
           </div>-->

		  </form>
        <!-- END MAIN CONTENT -->

    </div>
    <!-- END WRAPPER -->
	{output(#javascript_end.htm#)}
	
	

</body>

</html>