<div class="alert alert-success" style="width:100%; display:none" id="import_ok" >
	Dati inviati ad Amazon. L'elaborazione dei dati può richiedere alcuni minuti.<br>
	Puoi visualizzare gli esiti delle tue richieste nella sezione <b>Reports</b>.
</div>
<h3>Aggiornamento Quantità</h3>
<div style="text-align:left;">
<p>Questa procedura aggiorna le quantità delle offerte
	
</p>


</div>
<div class="pull-right">
<button class="btn btn-sm btn-amazon" onclick="update_inventory();"><i class="fa fa-send"> </i> AGGIORNA QUANTITA'</button>
</div>
