<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js sidebar-large lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js sidebar-large lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js sidebar-large lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js sidebar-large"><!--<![endif]-->

<head>
    <!-- BEGIN META SECTION -->
    {output(#metatags.htm#)}
    <!-- END META SECTION -->
  	{output(#css.htm#)}
  	<!--{output(#css_form.htm#)}-->
  	<script src="/plugins/modernizr/modernizr-2.6.2-respond-1.1.0.min.js"></script>

    {output(#javascript_form.htm#)}
   {output(#javascript.htm#)}
   <!--<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>-->
    <flexy:toJavascript flexy:prefix="js_"
    >
</head>

<body data-page="dashboard">
    <!-- BEGIN TOP MENU -->
	{output(#menu_top.htm#)}
    <!-- END TOP MENU -->
    <!-- BEGIN WRAPPER -->
    <div id="wrapper">
        <!-- BEGIN MAIN SIDEBAR -->
    	{output(#colonna_sinistra.htm#)}
    	<!-- END MAIN SIDEBAR -->
       
    	 <!-- BEGIN MAIN CONTENT -->
        <div id="main-content" class="dashboard">
        		<!--- TITLE ---->
				

				<div class="m-b-20 clearfix">
					<div class="page-title pull-left">
						<h3><strong>Report: {feed_id}</strong></h3>
					</div>

					
					 <div class="pull-right">
						<a href="index.php?action=list_feeds" class="btn btn-info m-t-10"><i class="fa fa-list p-r-10"></i> Torna ai Reports</a>
					</div>
				</div>
				<!--- TITLE ---->

					<div class="row">
						<div class="col-md-12">

							<div class="well col-md-12" id="div_url_it" flexy:if="!no_result">
								<ul>
									<li><b>Processati : <span style="color:black">{reports[MessagesProcessed]}</span></b></li>
									<li><b>Successi: <span style="color:green">{reports[MessagesSuccessful]}</span></b></li>
									<li><b>Errori: <span style="color:red">{reports[MessagesWithError]}</span></b></li>
									<li><b>Warning: <span style="color:orange">{reports[MessagesWithWarning]}</span></b></li>
									
								</ul>

							</div>
							{if:!no_result}
							<div class="well col-md-12" id="div_url_it" flexy:if="dati">

								<table class="table" >
									<thead>
										<th>Message ID</th>
										<th>SKU</th>
										<th>RESULT</th>
									</thead>
									<tbody>
										{foreach:dati,v}
										{if:uguale(v[result],#Error#)}
										<tr class="danger">
											<td>{v[message_id]}</td>
											<td><a target="_blank" href="/admin/modifier.php?action=mod&id={v[id_product]}">{v[sku]}</a></td>
											<td>
											<b>Errore {v[error_code]}</b><br>
											
											{v[message]}</td>


										</tr>
										{else:}
										<tr>
											<td>{v[message_id]}</td>
											<td>{v[sku]}</td>
											<td>{v[message]}</td>


										</tr>

										{end:}
										{end:}

									</tbody>
								</table>
								

							</div>
							{end:}

							<!--<div class="tabcordion">

									<ul id="myTab" class="nav nav-tabs">
										<li class="active"><a href="#amazon_response" data-toggle="tab">RISPOSTA</a></li>
										<li><a href="#amazon_request" data-toggle="tab">RICHIESTA</a></li>
										
									</ul>
									
									<div id="myTabContent" class="tab-content">	
										<div class="tab-pane fade active in" id="amazon_response">
											<pre class="prettyprint lang-html">
											{feed:h}
												
											</pre>
										</div>

										<div class="tab-pane fade  in" id="amazon_request">
											<pre class="prettyprint lang-html">
											{feed_input:h}

											</pre>
										</div>


									</div>
							</div>-->
							
							
						
						</div>
					</div>
					
        </div>
        <!-- END MAIN CONTENT -->

    </div>
    <!-- END WRAPPER -->
	{output(#javascript_end.htm#)}
	
	
</body>

</html>