
<div class="footer">
	<div class="container">
		{{page_composer('footer_content','footer')}}
	</div>
</div>
<div class="sottof">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
				<p>
				<strong>&copy; 2021 revoluzionepersonale</strong> P.IVA: 00000000000 <a href="/p/privacy.htm">Privacy Policy</a> <a href="/p/condizioni.htm">Termini e Condizioni</a>
				</p>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-right">
				<p>powered by
					<a href="https://www.3d0.it" target="_blank" rel="nofollow" title="Web Agency">
						<img src="/themes/revoluzione/images/logo-3d0.png">
					</a>
				</p>
			</div>
		</div>
	</div>
</div>