<div class="top">
	{{do_action('display_start_top')}}
	<div class="top-menu">
		<div class="bar-menu">
			<div class="nav-menu">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>
		<div class="logo">
			<a href="index.php" style="background-image: url('media/images/{{getConfig('cms_setting','logo')}}')"></a>
			<div class="popup-scelta">
				<div class="titl-popup">Sei sicuro di voler ritornare al carrello?</div>
				<div class="col100">
					<button class="btn-scelta" onclick="chiudiPopup()">Resta qui</button>
					<a href="/index.php?mod=cart_onepage&ctrl=Cart&action=cart" class="btn-scelta">Val al carrello</a>
				</div>
			</div>
		</div>

		<div class="menu">
			<ul>
				{% include 'partials/menu.htm' %}
			</ul>
			<ul class="social">
				<li><a href="#"><img src="themes/revoluzione/images/ico-telegram.png"></a></li>
				<li><a href="#"><img src="themes/revoluzione/images/ico-facebook.png"></a></li>
				<li><a href="#"><img src="themes/revoluzione/images/ico-instagram.png"></a></li>
			</ul>
		</div>

		<div class="topright">
			<ul class="social">
				<li><a href="#"><img src="themes/revoluzione/images/ico-telegram.png"></a></li>
				<li><a href="#"><img src="themes/revoluzione/images/ico-facebook.png"></a></li>
				<li><a href="#"><img src="themes/revoluzione/images/ico-instagram.png"></a></li>
			</ul>
		</div>
	</div>
</div>

<div class="fixedtop"></div>