<table class="main" data-types="background,text-style,padding" data-last-type="background" width="100%" cellspacing="0" cellpadding="0" border="0">
	  <tbody>
		  <tr>
			  <td class="page-header element-content" style="padding-left:50px;padding-right:50px;padding-top:10px;padding-bottom:10px;background-color:#FFFFFF;text-align:center; font-size:15px;" align="left">
				  <div contenteditable="true">
					 
					  
					  {getconfig(#azienda#,#copyright#):h} {getconfig(#azienda#,#nome_azienda#):h}</strong> - P.Iva {getconfig(#azienda#,#partita_iva#):h}  - tutti i diritti riservati
						<br><br>
						<a href="http://www.3d0.it" target="_blank">
							<img src="{baseurl}/themes/spada/images/logo-3d0.png" alt="Logo 3d0" width="40px">
						</a>
				  </div>
			  </td>
		  </tr>
	  </tbody>
  </table>
