<table class="main" data-types="background,padding,border-radius,image-settings" data-last-type="background" width="100%" cellspacing="0" cellpadding="0" border="0">
	  <tbody>
		  <tr>
			  <td class="page-header element-content" style="padding-left:50px;padding-right:50px;padding-top:10px;padding-bottom:10px;text-align:center; background:url('/modules/mail_marketing/img/top_natale.png'); background-repeat:no-repeat; background-color:red;" align="left">
				  <div contenteditable="true">
					  <p><img src="/img/demo/logo(1).png"></p>
				  </div>
			  </td>
		  </tr>
	  </tbody>
</table><p data-mce-caret="after" data-mce-bogus="all" style="top: 2px;"><br data-mce-bogus="1"></p>


<table class="main" data-types="background,text-style,padding,image-settings" data-last-type="text-style" style="background-color:#FFFFFF" cellspacing="0" cellpadding="0" border="0" align="center">
	<tbody>
		<tr>
			<td class="element-content element-contenteditable active" style="padding:50px;font-family:Arial;font-size:13px;color:#000000;line-height:22px;text-align:left" contenteditable="true">

				<img class="content-image  " src="https://placeholdit.imgix.net/~text?txtsize=33&amp;txt=350%C3%97150&amp;w=350&amp;h=150" style="display: inline-block;margin: 0px;  padding: 0 10px 0 0;Width:350px;height:150px;" border="0" align="left">

				<div style="margin: 0px 0px 10px 0px; line-height: 22px;">
					Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</div>
			</td>
		</tr>
	</tbody>
</table><p data-mce-caret="after" data-mce-bogus="all" style="top: 0px;"><br data-mce-bogus="1"></p>


<table class="main" data-types="background,text-style,padding" data-last-type="background" width="100%" cellspacing="0" cellpadding="0" border="0">
	  <tbody>
		  <tr>
			  <td class="page-header element-content" style="padding-left:50px;padding-right:50px;padding-top:10px;padding-bottom:10px;text-align:center; font-size:15px; background:url('/modules/mail_marketing/img/top_natale.png'); background-repeat:no-repeat; background-color:red; color:#FFFFFF;" align="left">
				  <div contenteditable="true">
					 
					  
					  2011-2016 3d0 S.r.l. - Web Agency - P.Iva 07259671217  - tutti i diritti riservati
						<br><br>
						<a href="http://www.3d0.it" target="_blank">
							<img src="http://nuovo.test3d0.it/themes/spada/images/logo-3d0.png" alt="Logo 3d0" width="40px">
						</a>
				  </div>
			  </td>
		  </tr>
	  </tbody>
  </table>
  <p data-mce-caret="after" data-mce-bogus="all" style="top: 0px;"><br data-mce-bogus="1"></p>
  
	<table class="main" data-types="background,text-style,padding" data-last-type="background" data-mce-selected="1" width="100%" cellspacing="0" cellpadding="0" border="0">
	  <tbody>
		  <tr>
			  <td class="page-header element-content" style="padding-left:50px;padding-right:50px;padding-top:10px;padding-bottom:10px;background-color:red;text-align:center; font-size:15px; color:#FFFFFF" align="left">
				  <div style="font-size:12px;" contenteditable="true">
						 Per cancellarti dalla newsletter clicca  <a href="#unsubscribe" data-mce-selected="inline-boundary">qui﻿</a>
				  </div>
			  </td>
		  </tr>
	  </tbody>
  </table>
  
