<table class="main" data-types="background,padding,border-radius,image-settings" data-last-type="background" width="100%" cellspacing="0" cellpadding="0" border="0">
	  <tbody>
		  <tr>
			  <td class="page-header element-content" style="padding-left:50px;padding-right:50px;padding-top:10px;padding-bottom:10px;background-color:#FFFFFF;text-align:center" align="left">
				  <div contenteditable="true">
					  {output_page_content(#logo_top#)}
				  </div>
			  </td>
		  </tr>
	  </tbody>
  </table>