<!DOCTYPE html>
<html lang="it">
<head>
    {metatags()}
    <title>{setting[info][nomesito]} - Recupero password</title>
	{css()}
	{javascript()}
	<link href="/modules/login_b2b/css/animate.min.css" rel="stylesheet">
	<link href="/modules/login_b2b/css/style.css" rel="stylesheet">
	<script src="/plugins/bootstrap-loading/lada.min.js"></script>
	<script src="/modules/login_b2b/js/script.js"></script>
	<flexy:toJavascript flexy:prefix="js_"
    >
</head>


<body class="log">
<div class="box-log">
	<h1>Operazione completata</h1>

	<p class="txtc">Ti è stata inviata una mail contenente i dati di accesso.</p>

	<a href="?action=login" class="pulsante-arancio-pieno">effettua il login</a>
</div>
</body>
</html>



