<?xml version="1.0"?>
<module>
  <info> 
	<author>Ciro Napolitano</author> 
    <name>Catalogo</name> 
	<permission>superadmin</permission> 
	<tag>catalogo</tag> 
	<scope></scope>
	<autoload>1</autoload>
	<version>3</version>
	<kind>catalog</kind>
	<description>Modulo che permette la gestione di un catalogo di prodotti</description> 
  </info>
    <admin>
	  <menu>
		<items>
			<item>
				<locale>
					<name>
						<it>Catalogo</it>
						<en>Catalogo</en>
					</name>
				</locale>
				<tag>catalog</tag> 
				<icon>fa fa-archive</icon> 
				<permission>catalog</permission> 
				<priority>100</priority> 
			</item>
			<item>
				<locale>
					<name>
						<it>Prodotti</it>
						<en>Products</en>
					</name>
				</locale>
				<parent>catalog</parent>
				<tag>manage_products</tag> 
				<permission>catalog</permission> 
				<url>index.php?ctrl=ProductAdmin&amp;mod=catalogo&amp;action=list</url>
				<priority>3</priority> 
			</item>
			<item>
				<locale>
					<name>
						<it>Categorie</it>
						<en>Categories</en>
					</name>
				</locale>
				<parent>catalog</parent>
				<tag>manage_sections</tag> 
				<permission>ecommerce</permission> 
				<url>index.php?ctrl=CategoryAdmin&amp;mod=catalogo&amp;action=list</url>
				<priority>4</priority> 
			</item>
			<item>
				<locale>
					<name>
						<it>Produttori</it>
						<en>Manufacturers</en>
					</name>
				</locale>
				<parent>catalog</parent>
				<tag>manufacturer</tag> 
				<permission>catalog</permission> 
				<url>index.php?ctrl=ManufacturerAdmin&amp;mod=catalogo&amp;action=list</url>
				<priority>3</priority> 
			</item>
			<item>
				<locale>
					<name>
						<it>Tags</it>
						<en>Tags</en>
					</name>
				</locale>
				<parent>catalog</parent>
				<tag>tagProduct</tag> 
				<permission>catalog</permission> 
				<url>index.php?ctrl=TagProductAdmin&amp;mod=catalogo&amp;action=list</url>
				<priority>5</priority> 
			</item>
            <item>
				<locale>
					<name>
						<it>Attributi</it>
						<en>Attributes</en>
					</name>
				</locale>
				<tag>attribute</tag> 
				<icon>fa fa-puzzle-piece</icon> 
				<permission>catalog</permission> 
				<priority>100</priority> 
			</item>
            <item>
				<locale>
					<name>
						<it>Gestione Attributi</it>
						<en>Manage Attributes</en>
					</name>
				</locale>
				<parent>attribute</parent>
				<tag>manage_attributes</tag> 
				<permission>catalog</permission> 
				<url>index.php?ctrl=AttributeAdmin&amp;mod=catalogo&amp;action=list</url>
				<priority>5</priority> 
			</item>
            <item>
				<locale>
					<name>
						<it>Gestione Insiemi Attributi</it>
						<en>Manage Attribute Sets</en>
					</name>
				</locale>
				<parent>attribute</parent>
				<tag>manage_attributeSets</tag> 
				<permission>catalog</permission> 
				<url>index.php?ctrl=AttributeSetAdmin&amp;mod=catalogo&amp;action=list</url>
				<priority>5</priority> 
			</item>
            <item> 
				<locale> 
					<name>	
						<it>Catalogo</it>
						<en>Catalog</en>
					</name>
				</locale>
				<parent>setting</parent>
				<tag>setting_catalog</tag>
				<permission>catalog</permission> 
				<priority>101</priority> 
				<url>index.php?ctrl=CatalogSettingAdmin&amp;mod=catalogo</url>
			</item>
		</items>
	</menu>
  </admin>
    <actions>
	   <action>
			<hook>boot</hook>
			<function>loadClasses</function>
            <priority>5</priority>
		</action>
  </actions>
</module>