<?xml version="1.0"?>
<module>
	<info> 
		<author>Ciro Napolitano</author>
		<name>Whatsapp icon</name>
		<permission>superadmin</permission>
		<tag>whatsapp_icon</tag>
		<kind>cms</kind>
		<version>3</version>
		<scope></scope> 
		<description><![CDATA[Integra nel cms la lo shortcode di whatsapp]]></description> 
   </info>
   <widgets>
		<widget> 
			<name>Whatsapp icon</name>
			<function>WidgetWhatsappIcon</function>
			<url_conf>index.php?ctrl=Conf&amp;mod=whatsapp_icon</url_conf>
			<repeatable>1</repeatable>
		</widget>
	</widgets>
</module>