{% extends 'layouts/page_backend.htm' %}

{% block backend_header %}
	<div class="breadcontinue">
		<a href="/courses" class="back"><i class="fa fa-angle-left"></i>{{tr('Torna ai miei corsi','elearning')}}</a>
	</div>
	<strong>{{product.getName()}}</strong>
{% endblock %}


{% block backend_content %}
	
		<div class="prod">
			<div class="col-foto">
				<div class="foto">
					<a class="fancybox fancyone" href="{{product.getUrlImage(0)}}" rel="media-gallery" data-fancybox="gallery">
						<img class="imgbig" src="{{product.getUrlImage(0)}}" alt="{{product.getName()}}">
					</a>
				</div>
			</div>
			<div class="info">
				<h4 class="tit-prod">{{product.getName()}}</h4>
				<div class="desc-prod">{{product.get('description')|raw}}</div>
				{% if details %}
				<div class="cont-btn clearfix">
					{%if details.telegram_group %}
					<a href="{{details.telegram_group}}" target="_blank" class="btn-default telegram">{{tr('Accedi al gruppo Telegram','elearning')}}</a>
					{% endif %}
					{%if details.facebook_group %}
					<a href="{{details.facebook_group}}" target="_blank" class="btn-default facebook">{{tr('Accedi al gruppo Facebook','elearning')}}</a>
					{% endif %}
					
				</div>
				{% endif %}
			</div>
			<div class="space40"></div>
			<div id="unita">
				{{units|raw}}
			</div>
		</div>
		<div class="space80"></div>
	
{% endblock %}