{% extends "layouts/base_form.htm" %}
{% block edit_page_title %} Unicredit {% endblock %} 
{% block content %}
{% import "macro/form.htm" as form %}



{{form.buildCol(dataform.sandbox,'col-md-6')}}

{{form.buildCol(dataform.status_confirmed,'col-md-6')}}




<div class="row">
	<div class="tabcordion col-md-12">
		   <ul id="myTab" class="nav nav-tabs">
				  <li class="active"><a href="#live" data-toggle="tab">Live</a></li>
				  <li class=""><a href="#sandbox_box" data-toggle="tab">Sandbox</a></li>
		   </ul>
			<div id="myTabContent" class="tab-content">
				<div class="tab-pane fade active in" id="live">
					<div class="row">
					{{form.buildCol(dataform.kid_live,'col-md-12')}}
					{{form.buildCol(dataform.kSig_live,'col-md-12')}}
					{{form.buildCol(dataform.url_live,'col-md-12')}}

					</div>
				</div>

				<div class="tab-pane fade in" id="sandbox_box">
					<div class="row">
					{{form.buildCol(dataform.kid_sandbox,'col-md-12')}}
					{{form.buildCol(dataform.kSig_sandbox,'col-md-12')}}
					{{form.buildCol(dataform.url_sandbox,'col-md-12')}}
					</div>

				</div>
		</div>
	</div>
</div>




{% endblock %}
