{% if titolo %} 
	<h4>{{titolo}}</h4>
{% endif %}

<div class="swiper-container widget_swiper widget_swiper_{{id_box}} clearfix" opzioni="{{opzioni}}" id_box="{{id_box}}">
	<div class="swiper-wrapper">
		{% for riga in prodotti %}
			{{card_product_slider(ctrl,riga,'large')}}
		{% endfor %}
	</div>
	{% if navigation %}	
		<div class="swiper-button-prev swiper-button-prev_{{id_box}}"></div>
		<div class="swiper-button-next swiper-button-next_{{id_box}}"></div>
	{% endif %}
	{% if scrollbar %}
		<div class="swiper-scrollbar js-swiper-scrollbar js-swiper-scrollbar_{{id_box}}"></div>
	{% endif %}
</div>