<?xml version='1.0'?>
<module>
	<info> 
		<author>Luca Giaquinto</author>
		<name>Recensioni</name>
		<permission>superadmin</permission>
		<tag>recensioni</tag>
		<kind>cms</kind>
		<scope></scope> 
		<autoload>1</autoload> 
		<description><![CDATA[Modulo che integra un sistema di recensioni all'interno del tuo sito]]></description> 
	</info>
	<admin>
	  <menu>
		<items>
			<item>
				<locale>
					<name>
						<it>Recensioni</it>
						<en>Recensioni</en>
					</name>
				</locale>
				<tag>recensioni_admin</tag> 
				<icon>fa fa-pencil</icon> 
				<permission>catalog</permission> 
				<priority>100</priority> 
				<url>index.php?ctrl=Feedback&amp;mod=recensioni&amp;action=list</url>
			</item>
			
		</items>
	</menu>
  </admin>
	<backend>
		<menu>
			<items>
				<item>
					<locale>
						<name>
							<it>Recensione</it>
							<en>Recensione</en>
						</name>
					</locale>
					<tag>recensioni</tag> 
					<iconImg>modules/recensioni/images/ico-recensione-backend.png</iconImg> 
					<permission>base</permission> 
					<url>recensione</url>
					<priority>100</priority> 
				</item>
			</items>
		</menu>
	</backend>
	 <widgets>
		<widget> 
			<name>Ultime Recensioni</name>
			<function>WidgetRecensioni</function>
			<repeatable>1</repeatable>
		</widget>
	</widgets>
</module>
