{% extends "layouts/base.htm" %}
{% block page_title %} Profilo di vendita {% endblock %} 
{% block javascript %}
{{parent()}}
<script>
var conf = "{{conf|escape('js')}}";
var attributi = "{{dati_attributi|escape('js')}}";
var filtri = "{{dati_filtri|escape('js')}}";
$(document).ready(function(){
	

		if( conf ){
			var old = jQuery.parseJSON( conf );
			
			for( var k in old ){
				if( k != 'taxonomy'){
					
					var id_field = k.replace(/\s/g, '');
					if( old[k]['fixed'] ){
						$('#'+id_field).val(old[k]['fixed']);
					}
					if( old[k]['mapping'] ){
						$('#'+id_field).val(old[k]['mapping']);
					}
					if( old[k]['static'] ){
						$('#other_'+id_field).val(old[k]['static']);
					}
					$('#'+id_field).trigger('change');
				}
				
			}

			setTimeout(function(){
				for( var k in old ){
					var id_field = k.replace(/\s/g, '');
					if( old[k]['association'] ){
						for(var k1 in old[k]['association']){
							$('#'+id_field+"_"+k1).val(old[k]['association'][k1]);
						}
					}

				}
					
			}, 1000);
		}
	
});	
var valori_filtri = jQuery.parseJSON( filtri );
var valori_attributi = jQuery.parseJSON( attributi );

function mappingValues(el,key,key_senza_spazi){
	var check = false;
	var val = el.val();
	if( val == 'other' ){
		$('#other_'+key_senza_spazi).show();
		el.closest('.box-mapping').find('#mapping').hide();
	}else{
		$('#other_'+key_senza_spazi).hide();
		var valori = null;
		var matches = val.match(/attribute/);
		if( matches != null ){
			check = true;
			var id = parseInt(val.replace(/([a-zA-Z_]+)/,''));
			for( var k in valori_attributi ){
				if( parseInt(valori_attributi[k]['id']) == id ){
					valori = valori_attributi[k]['values'];
				}
			}
		}
		var matches = val.match(/feature/);
		if( matches != null ){
			check = true;
			var id = parseInt(val.replace(/([a-zA-Z_]+)/,''));
			
			for( var k in valori_filtri ){
				if( parseInt(valori_filtri[k]['id']) == id ){
					valori = valori_filtri[k]['values'];
				}
			}
		
		}
		if( valori ){
			var select_options = el.closest('.box-mapping').find('#values').clone().html();
			var html = '';
			for( var k in valori ){
				let name = "formdata["+key+"][association]["+k+"]";
				let id_select = key_senza_spazi+"_"+k;
				html = html +"<tr><td>"+valori[k]+"</td><td><select class='no-picker' name="+name+" id="+id_select+">"+select_options+"</select></td></tr>";			
			}
			
			el.closest('.box-mapping').find('.associations').html(html);
		}
		if( check ){
			el.closest('.box-mapping').find('#mapping').show();
		}else{
			el.closest('.box-mapping').find('#mapping').hide();
		}
	}
}


function save_profile(market){
	var formdata = $('#form').serialize();
	var id = $('#id').val();
	var name = $('#name').val();
	$.ajax({
	  type: "POST",
		  url: "index.php",
		  data: { ctrl: "Profile",mod:'privalia',action:'save_profile',formdata:formdata,'ajax':1,id:id,language:market,name:name},
		  dataType: "json",
		  success: function(data){
				if(data.result == 'ok'){
					
					$('#id').val(data.id);
					alert('Profilo salvato con successo')
			
				}else{
					
				}
		  },
	 
	});
}

function getAttributes(code,market){
	
	$.ajax({
	  type: "POST",
		  url: "index.php",
		  data: { ctrl: "Profile",mod:'privalia',action:'get_attributes','ajax':1,code:code,language:market},
		  dataType: "json",
		  success: function(data){
				if(data.result == 'ok'){
					$('#mappatura').html(data.html);
					
				}else{
					
				}
		  },
	 
	});
}
</script>
{% endblock %}

{% block content %}
<form id="form">
<div class="well" style="margin-bottom: 20px;">
		<label>Nome profilo: </label>
		<input type="text" name="name" id="name_profile" value="{{name}}">
		<br><br>
		<b>N.B.</b>: I dati utilizzati per il mapping sono relativi alla lingua <b>{{market|upper}}</b>
</div>
{% if manage_route == false %}
<h4>CATEGORIA PRIVALIA</h4>

<div class="well" style="margin-bottom: 20px;">
		<label>Categoria: </label>
		<select class="no-picker" name="formdata[taxonomy]" id="taxonomy" onchange="getAttributes($(this).val(),'{{market}}'); return false;">
			<option value="">--SELECT--</option>
			{% for k,v in privalia_categories %}
			<option  value="{{k}}" {% if k == taxonomy %}selected{% endif %}>{{v}}</option>
			{% endfor %}
		</select>
</div>
{% endif %}
<h4>MAPPATURA TRACCIATO</h4>
<div id="mappatura">
{{mappatura|raw}}
</div>
<input type="hidden" name="id" id="id" value="{{id}}">
<button type="button" onclick="save_profile('{{market}}'); return false;">SALVA</button>
</form>


{% endblock %}