{% extends "privalia_layout.htm" %}
{% block page_title %} Sincronizzazione Privalia {% endblock %} 


{% block content %}
<table class="table">
	<thead>
		<th>Operazione</th>
		<th></th>
	</thead>
	<tbody>
		<tr>
			<td>Invia catalogo</td>
			<td>
				
				<a href="" class="btn btn-default btn-sm"><i class="fa fa-arrow-right"></i> invia</a>
			
			</td>
		</tr>
		<tr>
			<td>invia inventario</td>
			<td>
				<a href="" class="btn btn-default btn-sm"><i class="fa fa-arrow-right"></i> invia</a>
			</td>
		</tr>
		<tr>
			<td>Invia prezzi</td>
			<td>
				<a href="" class="btn btn-default btn-sm"><i class="fa fa-arrow-right"></i> invia</a>
			</td>
		</tr>
	</tbody>
	
</table>
{% endblock %}