{% extends 'layouts/page.htm' %}

{% block content %}

<h2 class="tit-pag">Blog</h2>
<div class="menu-cat-oriz">
    <a href="/news/all/list.htm">Tutti</a>
    {% for category in categories %}
    <a href="/index.php?mod=news&ctrl=News&action=list_news&category{{ category.id }}">{{ category.get('name') }}</a>
    {% endfor %}
</div>
<div class="flex flex-wrap">
    {% for news in news_list %}
    <a href="/index.php?ctrl=News&mod=news&action=info_news&slug={{ news.get('slug') }}" class="col33 col-news">
        <div class="box-img-news">
            <img src="{{news.getUrlImage(0,'large')}}" alt="">
            <div class="info-news flex flex-center">
                <div class="data-news">
                    <div class="mese-news">{{ news.get('dateLastUpdate') | date('d') }}</div>
                    <div class="giorno-news">{{ months[month - 1] }}</div>
                </div>
                <div class="tit-cat-news">
                    <div class="cat-news">{{ category_name }}</div>
                    <div class="tit-news">{{ news.get('title') }}</div>
                </div>
            </div>
            <div class="pulsante pulsante-pieno">Scopri di più</div>
        </div>
        <!--<h3>{{ news.get('title')}}</h3>
			<div class="data">{{ news.get('dateLastUpdate')|date('d.m.Y')}}</div>-->
    </a>
    {% endfor %}
</div>

{% endblock %}