<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js sidebar-large lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js sidebar-large lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js sidebar-large lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js sidebar-large"> <!--<![endif]-->

<head>
     <!-- BEGIN META SECTION -->
    {output(#metatags.htm#)}
    <!-- END META SECTION -->
  	{output(#css.htm#)}
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  	<!--{output(#css_form.htm#)}-->
  	<script src="/plugins/modernizr/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    {output(#javascript_form.htm#)}
    {output(#javascript.htm#)}
	<link rel="stylesheet" href="css/style_form_vetrina.css">

	<link rel="stylesheet" href="js/jquery-steps/demo/css/jquery.steps.css">
	<script src="js/jquery-steps/lib/modernizr-2.6.2.min.js"></script>
	<script src="js/jquery-steps/lib/jquery.cookie-1.3.1.js"></script>
	<script src="js/jquery-steps/build/jquery.steps.js"></script>
	<flexy:toJavascript flexy:prefix="js_"
		id="dati[id]"
    >
</head>

<body data-page="dashboard">
      <!-- BEGIN TOP MENU -->
	{output(#menu_top.htm#)}
    <!-- END TOP MENU -->
    <!-- BEGIN WRAPPER -->
    <div id="wrapper">
        <!-- BEGIN MAIN SIDEBAR -->
    	{output(#colonna_sinistra.htm#)}
    	<!-- END MAIN SIDEBAR -->
        <!-- BEGIN MAIN CONTENT -->
        <div id="main-content" class="dashboard">
            <div class="clearfix">
                <div class="page-title pull-left">
					
                    <h3 class="pull-left m-b-20"><strong>Box prodotti <small>{if:!dati[id]}Aggiungi{else:}Modifica{end:}</small></h3>
					

                </div>
                <!-- <div class="pull-right">
					<a  href="controller.php?action=add_widget_vetrina_prodotti" class="btn btn-success m-t-10"><i class="fa fa-plus p-r-10"></i> Aggiungi widget</a>
                </div>-->
            </div>
			<form method='POST' action="index.php" id="form">
            <div class="row" flexy:if="errore">
                <div class="col-md-12">
					 <div class="alert alert-danger" style="width:100%" >
						 <strong>{errore}</strong>
					</div>
				</div>
			</div>
			<input type="hidden" name="action">
			<input type="hidden" name="formdata[id]">
			<!--
			<div class="row">
				<div class="col-md-12">
					<div class="pull-right m-b-10">
						<input type="hidden" name="">
						<input type="hidden" name="">
						<button type="submit" class="btn btn-anteprima m-t-10"><i class="fa fa-eye"></i> Anteprima</button>
					</div>

					<div class="pull-right m-b-10">
						<input type="hidden" name="action">
						<input type="hidden" name="formdata[id]">
						<button type="submit" class="btn btn-success m-t-10"><i class="fa fa-check"></i> Salva</button>
					</div>				
				</div>
            </div>
			-->
			<script>
                $(function ()
                {
					var step_idex = 0;
					if( typeof js_id != 'undefined' && js_id != null ){
						step_idex = 3;
					}
                    $("#wizard").steps({
                        headerTag: "h2",
                        bodyTag: "section",
						startIndex: step_idex,
                        transitionEffect: "slideLeft",
						 /* Labels */
						labels: {
							cancel: "Annulla",
							current: "setp corrente:",
							pagination: "Paginazione",
							finish: "Finito",
							next: "Successivo",
							previous: "Precedente",
							loading: "Caricamento ..."
						},
						onStepChanging: function (event, currentIndex, newIndex) { 
							 if( currentIndex == 0 && newIndex == 1 ){
								$('#name').removeClass('error');
								if( !$('#name').val().trim() ){
									$('#name').addClass('error');
									return false;
								}
							 }
							 
							 if( currentIndex == 1 && newIndex == 2 ){
								if( !layout ){
									
									return false;
								}
							 }

							 if( currentIndex == 2 && newIndex == 3 ){
								if( $('.item_prodotto').length != parseInt(layout)+1 ){
									
									return false;
								}
							 }
							 
							 return true; 
						},
						 onStepChanged: function (event, currentIndex, priorIndex) {
							var formdata = $('#form').serialize();
							
							if( currentIndex == 3 ){
								$('.fadew').show();
								$.ajax({
									type: 'GET',
									cache: false,
									dataType: 'json',
									crossDomain: true,
									url: 'index.php',
									data: {
									 action: 'preview',
									 type: "product",
									 formdata: formdata
									 //style: "full",
									 //maxRows: 6,
									 
									},
									success: function( data ) {
										$('.fadew').hide();
										if( data.result == 'ok'){
											$('#preview').html(data.html)
										}
									 }
								});
							}
						 
						 
						 }, 
						  onFinished: function (event, currentIndex) {  $('#form').submit() },
                    });
                });

				</script>
				<script>
				var layout = '';
				$(document).ready(function(){
					

					$('#show_name').on('change',function(){
						if( $(this).prop('checked')){
							$('.box-testo').show();
						}else{
							$('.box-testo').hide();
						}
					});
					$('#show_prices').on('change',function(){
						if( $(this).prop('checked')){
							$('.box-prezzo').show();
						}else{
							$('.box-prezzo').hide();
						}
					});
					$('#show_label').on('change',function(){
						if( $(this).prop('checked')){
							$('.corner-ribbon').show();
						}else{
							$('.corner-ribbon').hide();
						}
					});

					if( !$('#show_label').prop('checked') ){
						$('.corner-ribbon').hide();
					}
					if( !$('#show_prices').prop('checked') ){
						$('.box-prezzo').hide();
					}
					if( !$('#show_name').prop('checked') ){
						$('.box-testo').hide();
					}
					$('.radioview').each(function(){
					
						if( $(this).prop('checked') == true ){
							layout = $(this).val();
							$(this).closest('.layout').addClass('selezionato');
						}
					});

					$('.layout').on('click',function(){
						
						$(this).find('.radioview').prop('checked',true).trigger('change');
					});
					$('.radioview').on('change',function(){
						
						$('.layout').removeClass('selezionato');
						$('.radioview').each(function(){
							if( $(this).prop('checked') == true ){
								layout = $(this).val();
								$(this).closest('.layout').addClass('selezionato');
							}
						});
					});

					$('#search_product').autocomplete({
						  source: function( request, response ) {
								$.ajax({
									type: 'GET',
									cache: false,
									dataType: 'json',
									crossDomain: true,
									url: 'index.php',
									data: {
									 action: 'get_product',
									 featureClass: "P",
									 //style: "full",
									 //maxRows: 6,
									 name: request.term
									},
									success: function( data ) {
									 response( $.map( data.data, function( item ) {
									   return {
										 label: item.name, // + (item.sezione ? ", " + item.sezione : ""), //+ ", " + item.countryName,
										 value: item.name,
										 id: item.id,
										 img: item.img,
									   }
									 }));
									 }
								});
							  },
							  minLength: 2,
							  select: function( event, ui ) {
								var t = $('#modello').clone().appendTo('#cont_prodotti').show();
								t.find('img').attr('src',ui.item.img);
								t.find('#item').val(ui.item.id);
								$('#search_product').val('');
								ui.item.value = "";
								//$('#product_related_add_'+cont_section_related).attr('product_related_name',ui.item.value);
								  
							  },
							  open: function() {
								$(this).removeClass( "ui-corner-all" ).addClass( "ui-corner-top");
							  },
							  close: function() {
								$(this).removeClass( "ui-corner-top" ).addClass( "ui-corner-all");
							  }
						});
					$('#search_product').attr('autocomplete','on');
				});
			</script>

			 <div id="wizard">
                <h2>Generale</h2>
                <section>
					
					 <div class="col-md-4 col-sm-12 col-xs-12 table-responsive">
						<div class="form-group col-md-12" id="div_lista">
							<label>Nome:</label>
							<div class="controls">
								<input type="text" class="form-control " name="formdata[name]" required>
							</div>
						</div>
					</div>

					<div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
					<div class="form-group col-md-12 m-t-10" id="div_visibility">
						<label>Opzioni visualizzazione :</label>
						<div class="controls clearfix">
							<div class="anteprima-lay">
								<div class="box-img">
									<div class="corner-ribbon">Etichetta</div>
									<img class="logo-img" src="img/logo-img.png">
								</div>
								<div class="box-testo">Titolo prodotto</div>
								<div class="box-prezzo">prezzo</div>
							</div>

							<div class="opzioni-lay">
								<!--<input type="checkbox" name="formdata[show_prices]" id="show_prices" value="1">	Mostra Prezzi
								<input type="checkbox" name="formdata[show_label]" id="show_label" value="1">	Mostra Etichetta prezzo
								<input type="checkbox" name="formdata[show_name]" id="show_name" value="1">	Mostra Nome Prodotto-->

								<label class="container">Mostra prezzi
								  <input type="checkbox" name="formdata[show_prices]" id="show_prices" value="1">
								  <span class="checkmark"></span>
								</label>

								<label class="container">Mostra Etichetta prezzo
								  <input type="checkbox" name="formdata[show_label]" id="show_label" value="1">
								  <span class="checkmark"></span>
								</label>

								<label class="container">Mostra Nome Prodotto
								  <input type="checkbox" name="formdata[show_name]" id="show_name" value="1">
								  <span class="checkmark"></span>
								</label>
							</div>							
						</div>
					</div>
					</div>

                </section>

                <h2>Layout</h2>
                <section>
                   <div class="clearfix">
						<div class="layout uno">
							<input type="radio" name="formdata[view]" class="hidden radioview" id="view_1" value="1">

							<div class="box-prodotto">
								<div class="colonna">
									<div class="box-img">
										<div class="corner-ribbon">Etichetta</div>
										<img class="logo-img" src="img/logo-img.png">
									</div>
									<div class="box-testo">Titolo prodotto</div>
									<div class="box-prezzo">prezzo</div>
								</div>
							</div>

							<div class="button-select">
								<i class="fa fa-plus" aria-hidden="true"></i>
								<i class="fa fa-check" aria-hidden="true"></i>
							</div>
						</div>

						<div class="layout due">
							<input type="radio" name="formdata[view]" class="hidden radioview" id="view_2" value="2">
							
							<div class="box-prodotto">
								<div class="colonna">
									<div class="box-img">
										<div class="corner-ribbon">Etichetta</div>
										<img class="logo-img" src="img/logo-img.png">
									</div>
									<div class="box-testo">Titolo prodotto</div>
									<div class="box-prezzo">prezzo</div>
								</div>

								<div class="colonna">
									<div class="box-img">
										<div class="corner-ribbon">Etichetta</div>
										<img class="logo-img" src="img/logo-img.png">
									</div>
									<div class="box-testo">Titolo prodotto</div>
									<div class="box-prezzo">prezzo</div>
								</div>
							</div>

							<div class="button-select">
								<i class="fa fa-plus" aria-hidden="true"></i>
								<i class="fa fa-check" aria-hidden="true"></i>
							</div>
						</div>

						<div class="layout tre">
							<input type="radio" name="formdata[view]" class="hidden radioview" id="view_3" value="3">
							
							<div class="box-prodotto">
								<div class="colonna">
									<div class="box-img">
										<div class="corner-ribbon">Etichetta</div>
										<img class="logo-img" src="img/logo-img.png">
									</div>
									<div class="box-testo">Titolo prodotto</div>
									<div class="box-prezzo">prezzo</div>
								</div>

								<div class="colonna">
									<div class="box-img">
										<div class="corner-ribbon">Etichetta</div>
										<img class="logo-img" src="img/logo-img.png">
									</div>
									<div class="box-testo">Titolo prodotto</div>
									<div class="box-prezzo">prezzo</div>
								</div>
							</div>

							<div class="box-prodotto">
								<div class="colonna">
									<div class="box-img">
										<div class="corner-ribbon">Etichetta</div>
										<img class="logo-img" src="img/logo-img.png">
									</div>
									<div class="box-testo">Titolo prodotto</div>
									<div class="box-prezzo">prezzo</div>
								</div>
							</div>

							<div class="button-select">
								<i class="fa fa-plus" aria-hidden="true"></i>
								<i class="fa fa-check" aria-hidden="true"></i>
							</div>
						</div>

						<div class="layout quattro">
							<input type="radio" name="formdata[view]" class="hidden radioview" id="view_4" value="4">
							
							<div class="box-prodotto">
								<div class="colonna">
									<div class="box-img">
										<div class="corner-ribbon">Etichetta</div>
										<img class="logo-img" src="img/logo-img.png">
									</div>
									<div class="box-testo">Titolo prodotto</div>
									<div class="box-prezzo">prezzo</div>
								</div>

								<div class="colonna">
									<div class="box-img">
										<div class="corner-ribbon">Etichetta</div>
										<img class="logo-img" src="img/logo-img.png">
									</div>
									<div class="box-testo">Titolo prodotto</div>
									<div class="box-prezzo">prezzo</div>
								</div>

								<div class="colonna">
									<div class="box-img">
										<div class="corner-ribbon">Etichetta</div>
										<img class="logo-img" src="img/logo-img.png">
									</div>
									<div class="box-testo">Titolo prodotto</div>
									<div class="box-prezzo">prezzo</div>
								</div>

								<div class="colonna">
									<div class="box-img">
										<div class="corner-ribbon">Etichetta</div>
										<img class="logo-img" src="img/logo-img.png">
									</div>
									<div class="box-testo">Titolo prodotto</div>
									<div class="box-prezzo">prezzo</div>
								</div>
							</div>

							<div class="button-select">
								<i class="fa fa-plus" aria-hidden="true"></i>
								<i class="fa fa-check" aria-hidden="true"></i>
							</div>
						</div>

					</div>
                </section>

                <h2>Prodotti</h2>
                <section>
                    <div class="pull-right m-b-20">
						<a class="btn add-prod" data-toggle="modal" data-target="#add_prodotto">Aggiungi prodotto <i class="fa fa-plus green"></i></a>
					</div>

					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="cont_prodotti">
							<div class="panel col-md-2 modello" id="modello"  flexy:foreach="list,v">

								<div class="panel-body" flexy:ignore>
									<input name="formdata[items][]" class="item_prodotto" id="item" type="hidden" value="{v[id]}">
									<a class="elimina_modello" onclick="$(this).closest('.modello').remove(); return false;"><i class="fa fa-times"></i></a>
									<img src="" id="img" src="{v[img]}">

								</div>
								
							</div>
						</div>
						 
					</div>
                </section>

                <h2>Anteprima</h2>
                <section >
				<div class="fadew">
					<div class="box-loader">
						<div class="loader"></div>
					</div>
				</div>
				<div id="preview">
					{preview:h}				
				</div>
                    
                </section>
            </div>

			
			</form>
        </div>
        <!-- END MAIN CONTENT -->
    </div>
    <!-- END WRAPPER -->
   
  {output(#javascript_end.htm#)}
  <script src="/plugins/jquery-ui/jquery-ui-1.10.4.min.js"></script>
 	<!-- Modal -->
	<div id="add_prodotto" class="modal fade" role="dialog">
	  <div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">Cerca prodotto</h4>
		  </div>
		  <div class="modal-body">
			
			 <form flexy:ignore onsubmit="return false;" id="form">
			  <div class="form-group">
				<label for="recipient-name" class="col-form-label">Inserisci codice articolo o nome prodotto:</label>
				<input type="text" class="form-control" id="search_product">
			  </div>
			  
		    </form>


		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Chiudi</button>
		  </div>
		</div>

	  </div>
	</div>


	<div class="panel col-md-3 modello" id="modello"  style="display:none">
		
		<div class="panel-body">
			<input name="formdata[items][]" id="item" class="item_prodotto" type="hidden">
			<a class="elimina_modello" onclick="$(this).closest('.modello').remove(); return false;"><i class="fa fa-times"></i></a>
			<img src="" id="img">

		</div>
		
	</div>
</body>
</html>
