<!-- spazio -->
<table width="100%" style="background-color:#FFFFFF" align="center">
	<tbody width="100%" align="center">
		<tr width="100%" align="center">
			<td width="600px" align="center" height="20px"></td>
		</tr>
	</tbody>
</table>

<!-- immagine -->
<table width="100%" style="background-color:#FFFFFF" align="center">
	<tbody width="100%" align="center">
		<tr width="100%" align="center">
			<td width="175px"></td>
			<td width="350px" align="center">
				<table width="350px" class="main" cellspacing="0" cellpadding="0" border="0" data-types="background,border-radius,padding,image-settings,text-style,padding" data-last-type="text-style" style="background-color:#FFFFFF" align="center">
					<tbody width="350px" align="center">
						<tr width="350px" align="center">
							<td width="350px" align="center" class="element-content">
								<table width="350px" align="center">
									<tr width="350px" align="center">
										<td width="350px" align="center" contenteditable="true" style="padding:10px 25px;position:relative;overflow:hidden;">
											<a href="{items[0][url]}">
												<img border="0" class="content-image" src="{items[0][image]}" style="width: 70%;">
											</a>
										</td>	
									</tr>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
			<td width="175px"></td>
		</tr>
	</tbody>
</table>

<!-- titolo -->
<table width="100%" style="background-color:#FFFFFF" align="center" flexy:if="show_title">
	<tbody width="100%" align="center">
		<tr width="100%" align="center">
			<td width="50px"></td>
			<td width="500px" align="center">
				<table width="500px" class="main" cellspacing="0" cellpadding="0" border="0" data-types="background,border-radius,padding,text-style,padding" data-last-type="text-style" style="background-color:#FFFFFF" align="center">
					<tbody width="500px" align="center">
						<tr width="500px" align="center">
							<td width="500px" align="center" class="element-content">
								<table width="500px" align="center">
									<tr width="500px" align="center">
										<td width="500px" align="center" contenteditable="true" style="padding:10px 25px;font-family: 'Helvetica';font-size:22px;">
											{items[0][name]}
										</td>	
									</tr>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
			<td width="50px"></td>
		</tr>
	</tbody>
</table>

<!-- descrizione -->
<table width="100%" style="background-color:#FFFFFF" align="center" flexy:if="show_description">
	<tbody width="100%" align="center">
		<tr width="100%" align="center">
			<td width="50px"></td>

			<td width="500px" align="center">
				<table width="500px" class="main" cellspacing="0" cellpadding="0" border="0" data-types="background,border-radius,padding,text-style,padding" data-last-type="text-style" style="background-color:#FFFFFF" align="center">
					<tbody width="500px" align="center">
						<tr width="500px" align="center">
							<td width="500px" align="center" class="element-content">
								<table width="500px" align="center">
									<tr width="500px" align="center">
										<td width="500px" align="center" contenteditable="true" style="padding:10px 25px;font-family: 'Helvetica';font-size:14px;font-weight:regular;">
											{items[0][description]:h}
										</td>	
									</tr>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</td>

			<td width="50px"></td>
		</tr>
	</tbody>
</table>

<!-- pulsante leggi -->
<table width="100%" style="background-color:#FFFFFF" align="center" flexy:if="show_pulsante">
	<tbody width="100%" align="center">
		<tr width="100%" align="center">
			<td width="175px"></td>

			<td width="350px" align="center">
				<table width="350px" class="main" cellspacing="0" cellpadding="0" border="0" data-types="background,border-radius,padding,text-style,padding" data-last-type="text-style" style="background-color:#FFFFFF" align="center">
					<tbody width="350px" align="center">
						<tr width="350px" align="center">
							<td width="350px" align="center" class="element-content">
								<table width="350px" align="center">
									<tr width="350px" align="center">
										<td width="350px" align="center" contenteditable="true" style="padding:10px 25px;font-family: 'Helvetica';background:#293133;color:#fff;padding:10px;text-align: center;">
											Leggi di più
										</td>	
									</tr>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</td>

			<td width="175px"></td>
		</tr>
	</tbody>
</table>


