{% extends 'layouts/page_catalog.htm' %}
{% block metatags_title %}{% if prodotto.get('metaTitle') %}prodotto.get('metaTitle'){% else %}{{prodotto.get('name')}}{% endif %}{% endblock %}
{% block metatags_description %}{{prodotto.get('metaDescription')}}{% endblock %}
{% block metatags %}
	{{parent()}}
	<meta property="og:title" content="{{prodotto.get('name')}}">
	<meta property="og:description" content="{{prodotto.get('name')}}">
	<meta property="og:image" content="{{prodotto.getUrlImage(0,'thumbnail')}}">
	<meta property="og:url" content="{{prodotto.getUrl()}}">
	<meta name="twitter:card" content="summary_large_image">
{% endblock %}
{% block javascript %}
	{{parent()}}
	<!-- GOOGLE TAG MANAGER --->
	{{do_action('ganalitycs_display_script_view_product',prodotto)}}
	<!-- GOOGLE TAG MANAGER --->
{% endblock %}
{% block content %}
{% include 'partials/side_column.htm' %}
<div class="breadcontinue">
	<a href="javascript: window.history.go(-1)" class="back"><i class="fa fa-angle-left"></i>{{tr('Torna al Catalogo')}}</a>
</div>
<div class="clear"></div>
<div class="prod">
	<div class="col-foto">
		{% include 'partials/gallery_product.htm' with {'prodotto': prodotto } %}

		{% if enable_social_link_card_product %}
			<div class="space40"></div>
			{% include 'partials/product_social_share.htm' %}
		{% endif %}
		
	</div>
	<div class="info">
		<form id="addCart">
			{% if auth('catalog') %}
				<span>
					<a href="{{url_product_edit(prodotto.id)}}"><img src="themes/jewels/images/ico_mod.jpg"><b> {{tr('Modifica')}}</b></a>
				</span>
			{% endif %}
			<div class="clear"></div>
			<h4 class="tit-prod">{{prodotto.get('name')}}</h4>
			
			<div class="price">
				{% if prodotto.hasSpecialPrice() %}
					<span class="barrato">{{currencyLabel|raw}} {{prodotto.getDefaultPriceValueFormatted()}}</span>
					<span class="scontato">{{currencyLabel|raw}} {{prodotto.getPriceFormatted()}}</span>
				{% else %}
					<span>{{currencyLabel|raw}} {{prodotto.getPriceFormatted()}}</span>
				{% endif %}
			</div>
			
			{{do_action('display_product_extra',prodotto)}}
			{% include 'partials/product_attributes.htm' %}
			

			{{do_action('display_product_extra2',prodotto)}}
			<div flexy:if="prodotto.isAvailable()" class="clearfix">
				<div class="actionvp">
					<div class="input-group text-center" style="display:none">
						<span class="input-group-addon" style="cursor:pointer;" onclick="minus(); return false;"><img src="themes/jewels/images/ico_minus.png" width="13" height="2"></span>
						<input class="form-control" id="quantity" name="formdata[quantity]" type="text" value="{{qnt}}">
						<span class="input-group-addon" style="cursor:pointer;" onclick="plus(); return false;"><img src="themes/jewels/images/ico_plus.png" width="13" height="13"></span>
					</div>
					<a href="#" onclick='addToCart(); return false;' class="addcart"><span>{% if prodotto.recurrent_payment %}{{tr('Acquista','ecommerce')}}{% else %}{{tr('Aggiungi al carrello','ecommerce')}}{% endif %}</span></a>
					
					<!-- BLOCCO CHE PERMETTE DI AGGIUNGERE DEI BUTTONS --->
					{{do_action('display_block_product_buttons',prodotto)}}

				</div>
			</div>

			<input type="hidden" name="formdata[product]" value="{{prodotto.id}}">
		</form>
	</div>
	<div class="clear"></div>
	{{do_action('display_product_footer',prodotto)}}
	<div class="space40"></div>
	<ul class="nav nav-tabs" role="tablist">
		<li class="nav-item active">
			<a class="nav-link" href="#descrizione" role="tab" data-toggle="tab">descrizione</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#anteprima" role="tab" data-toggle="tab">anteprima</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#unita" role="tab" data-toggle="tab">unità</a>
		</li>
	</ul>
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane fade in active" id="descrizione">{{prodotto.get('description')|raw}}</div>
		<div role="tabpanel" class="tab-pane fade" id="anteprima">bbb</div>
		<div role="tabpanel" class="tab-pane fade" id="unita">
			<ul class="disabled">
				<li>
					<a href="#">Analisi e Gestione del Rischio</a>
					<ul>
						<li><a href="#">La Finanza Emotiva</a></li>
						<li><a href="#">Come fare una Corretta Analisi del Rischio</a></li>
						<li><a href="#">Panoramica Approfondita File Excel</a></li>
						<li><a href="#">Il Mito delle Progressioni</a></li>
						<li><a href="#">Come e Perchè differenziare</a></li>
						<li><a href="#">Come saperne di più</a></li>
						<li><a href="#">Approfondimento Risk of Ruin</a></li>
						<li><a href="#">BONUS: Aiuta il Prossimo, tutto torna</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="space80"></div>
{% set related = prodotto.getRelatedProducts() %}
{% if related %}
<div class="cont_prod_corr">
	<h5 class="m-t-0">{{tr('Potrebbero interessarti anche','catalogo')}}</h5>
	<div class="clear"></div>
	<div class="swiper-container">
		<div class="swiper-wrapper">
			{% for product_row in related %}
			<div class="s-prod swiper-slide">
				<div class="cont_imgprodsez">
					<div class="cont-labelprice">
						{% if product_row.hasSpecialPrice() %}
							<span class="percentuale">Special price</span>
						{% endif %}
					</div>
					<a href="{{product_row.getUrl()}}"><img class="imgprod imgtop" src="{{product_row.getUrlImage()}}"></a>
				</div>
				<div class="clear"></div>
				<a href="{{product_row.getUrl()}}" class="info">
					<p>{{product_row.get('name')}}</p>
					<div class="price">
						{% if product_row.hasSpecialPrice() %}
							<span class="barrato">{{currencyLabel|raw}} {{product_row.getDefaultPriceValueFormatted()}}</span>
							<span class="scontato">{{currencyLabel|raw}} {{product_row.getPriceFormatted()}}</span>
						{% else %}
							<span>{{currencyLabel|raw}} {{product_row.getPriceFormatted()}}</span>
						{% endif %}
					</div>
				</a>
			</div>

			{% endfor %}
		</div>
		<!--<div class="swiper-button-prev swiper-button-prev"></div>
		<div class="swiper-button-next swiper-button-next"></div>
		<div class="swiper-scrollbar"></div>-->
	</div>
</div>
<div class="space80"></div>
{% endif %}
<div class="modal fade" id="myModal" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body">
				<img src="themes/jewels/images/guida_alle_taglie.jpg">
			</div>
		</div>
	</div>
</div>
{% endblock %}