{% extends 'layouts/page.htm' %}

{% block content %}

<div class="pagecomposer-top">
    <div class="pagecomposer-riga top-page">
        <div class="col-w-100">
            <div class="box-testo">
                <h1>{{tr('Dicono di noi','elearning')}}</h1>
            </div>
        </div>
    </div>
</div>

<div class="pagecomposer-contenitore">
    <div class="pagecomposer-riga">
        <div class="col-w-100 container">
            {% for r in recensioni %}
            <div class="pagecomposer-riga row m-b-80">
                <div class="col-w-25">
                    <div class="box-testo name">
                        <p><strong>{{r.nickname}}</strong></p>
                        <p>{{r.data_inserimento|date("d/m/Y")}}</p>
                    </div>
                </div>
                <div class="col-w-75">
                    <div class="box-testo review">
                        <p>{{r.message|raw}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}