{% extends 'layouts/page.htm' %}

{% block content %}

<div class="pagecomposer-top">
    <div class="pagecomposer-riga top-page">
        <div class="col-w-100">
            <div class="box-testo">
                <h1>Dicono di noi</h1>
            </div>
        </div>
    </div>
</div>

<div class="pagecomposer-contenitore">
    <div class="pagecomposer-riga">
        <div class="col-w-100 container">
            <div class="pagecomposer-riga row m-b-80">
                <div class="col-w-25">
                    <div class="box-testo name">
                        <p><strong>Anna</strong></p>
                        <p>11/11/2021</p>
                    </div>
                </div>
                <div class="col-w-75">
                    <div class="box-testo review">
                        <p>Mi sono iscritta a <strong>R-evoluzione</strong> poco meno di un anno fa, adesso guadagno abbastanza da potermi permettere di lasciare il mio vecchio lavoro.</p>
                    </div>
                </div>
            </div>
            <div class="pull-right">
                {{links['all']|raw}}
            </div>
        </div>
    </div>
</div>

{% endblock %}