<!DOCTYPE html>
<html lang="en">

<head>

     {metatags()}

    <title>Area utente | {setting[info][nomesito]}</title>
	   
    {output(#css.htm#)}
	<link rel="stylesheet" href="css/address.css">
	{output(#javascript.htm#)}
	<script src="js/script.js"></script>
    <style>

	

	</style>

</head>

<body id="userarea">

    <!-- Navigation -->
     {output(#top.htm#)}

    <!-- Page Content -->
    <div class="container">

        <div class="row">

           <!--<div class="col-md-3">
				{output(#colonna_sinistra_utente.htm#)}
			</div>!-->

			<div class="space40"></div>
			<div class="bread_crumbs_userarea">
				<a href="/account/home.htm">Il mio account</a><i class="fa fa-angle-right"></i>
				<a class="active" href="#">Le mie autorizzazioni</a>
				<div class="right">
					<a href="javascript: window.history.go(-1)" class="indietro"><i class="fa fa-arrow-left"></i> Indietro</a>
				</div>
			</div>
			<div class="space20"></div>

            <div class="col-xs-12 col-md-12 col-lg-12">
				<h1 class="tal">Le mie autorizzazioni</h1>
				

				<div class="col-md-12 panel panel-default consenso">
					
					<div class="panel-body">
						<p flexy:if="!list">Nessuna autorizzazione</p>
						<div class="well" flexy:foreach="list,v">
						<p>{v[name]:h}</p>
						<button class="btn btn-sm btn-default pull-right" onclick="del_auth('{v[module]}','{v[options]}'); return false;"><i class="fa fa-trash-o"></i> rimuovi</button>
						</div>
					</div>
				</div>
						

					</div>


				<div class="space20"></div>
            </div>


        </div>

    </div>
	{output(#footer.htm#)}



</body>

</html>
