.box_filtro_img{
	min-width: 20px;
	min-height: 20px;
	margin-right:3px;
	border-radius: 10px;
	cursor:pointer;
}
.box_filtro_img_checked { 
	min-width: 23px;
	min-height: 22px;
	border-radius: 11px;
	border: 1px solid #666;
}
.filtri_ricerca{
	background: #f6f4f4;
	padding: 10px;
	position:relative;
}

.filtri_ricerca h5{
	font-size: 18px;
	font-weight: 900;
}

.minus_filtro{
	position: absolute;
	right: 5px;
	top: 15px;
	border: none;
	background: transparent;

}
