{% extends 'layouts/page_backend.htm' %}

{% block backend_header %}
	<img src="modules/ecommerce/images/ico-ultimi-ordini-backend.png">{{tr('I miei ordini','ecommerce')}}
{% endblock %}


{% block backend_content %}


{% if carrelli is null %}
	<span >{{tr('Nessun ordine presente in archivio.','ecommerce')}}</span>
{% else %}
	<div class="last-orders fullwidth">
		<div class="table-responsive">
			<table class="table table-orders m-b-0" >
				<thead>
					<tr>
						<th></th>
						<th>{{tr('Numero Articoli','ecommerce')}}</th>
						<th>{{tr('Totale','ecommerce')}}</th>
						<th>{{tr('Data','ecommerce')}}</th>
						<th>{{tr('Stato','ecommerce')}}</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for riga in carrelli %}
						<tr>
							<td width="48"><img src="{{riga.image}}" width="48" height="48" style="min-width: 48px;"></td>
							<td>{{riga.getNumberProduct()}} pz</td>
							<td>{{getHtmlCurrency(riga.currency)|raw}} {{riga.getTotalFinalFormatted()}}</td>
							<td>{{dataOraIta(riga.evacuationDate)}}</td>
							<td class="status-order">{{riga.status|raw}}</td>
							<td class="link-order"><a href="orders/{{riga.id}}"><img src="modules/ecommerce/images/ico-vedi-tutti-backend.png" width="8" height="16"></a></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		
		
		
		<!--<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<th>Ordine</th>
					<th>Numero Articoli</th>
					<th>Totale</th>
					<th>Data</th>
					<th>Stato</th>
				</thead>
				<tbody>
					{% for riga in carrelli %}
					<tr>
						<td><a href="index.php?ctrl=Orders&mod=ecommerce&action=view&id={{riga.id}}">{{riga.get('number')}}</a></td>
						<td>{{riga.getNumberProduct()}} pz</td>
						<td> {{getHtmlCurrency(riga.currency)|raw}} {{riga.getTotalFinalFormatted()}}</td>
						<td>{{dataOraIta(riga.evacuationDate)}}</td>
						<td>{{riga.status|raw}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>-->
	</div>
{% endif %}

{% if links %}
	<div class="space30"></div>
	<div class="col-md-12" style="text-align:right;">
		{{links.all|raw}}
	</div>
{% endif %}

{% endblock %}