{% extends 'layouts/page_backend.htm' %}

{% block backend_header %}
	<strong>{{tr('I miei Corsi','ecommerce')}}</strong>
{% endblock %}


{% block backend_content %}

<div class="last-orders">
	{% if carrelli is null %}
		<span>{{tr('Nessun ordine presente in archivio.','ecommerce')}}</span>
	{% else %}
		<div class="row">
			{% for riga in carrelli %}
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 s-prod">
					<div class="cont_imgprodsez">
						<a href="orders/{{riga.id}}">
							<img class="imgprod" src="{{riga.image}}">
						</a>
					</div>
					<div class="info">
						<p>{{riga.productname}}</p>
					</div>
				</div>
			{% endfor %}
		</div>

		<!--<div class="table-responsive">
			<table class="table table-orders m-b-0" >
				<thead>
					<tr>
						<th></th>
						<th>{{tr('Numero Articoli','ecommerce')}}</th>
						<th>{{tr('Totale','ecommerce')}}</th>
						<th>{{tr('Data','ecommerce')}}</th>
						<th>{{tr('Stato','ecommerce')}}</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for riga in carrelli %}
						<tr>
							<td width="48"><img src="{{riga.image}}" width="48" height="48" style="min-width: 48px;"></td>
							<td>{{riga.getNumberProduct()}} pz</td>
							<td>{{getHtmlCurrency(riga.currency)|raw}} {{riga.getTotalFinalFormatted()}}</td>
							<td>{{dataOraIta(riga.evacuationDate)}}</td>
							<td class="status-order">{{riga.status|raw}}</td>
							<td class="link-order"><a href="orders/{{riga.id}}"><img src="modules/ecommerce/images/ico-vedi-tutti-backend.png" width="8" height="16"></a></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>-->
	{% endif %}
</div>

{% if links %}
	<div class="space30"></div>
	<div class="col-md-12" style="text-align:right;">
		{{links.all|raw}}
	</div>
{% endif %}
<script>
    $(document).ready(function(){
        $('.menu-backend li:nth-child(3)').addClass('active');
    });
</script>
{% endblock %}