<table>
	<tr>
		<td>Name</td>
		<td>Surname</td>
		<td>Email</td>
		<td>Phone</td>
		<td>Cellular</td>
		<td>Address</td>
		<td>Post code</td>
		<td>City</td>
		<td>Province\State</td>
		<td>Nation</td>
		<td>Tax code</td>
		<td>VAT number</td>
	</tr>

	<tr>
		<td>{userdata.name}</td>
		<td>{userdata.surname}</td>
		<td>{userdata.email}</td>
		<td>{userdata.phone}</td>
		<td>{userdata.cellular}</td>
		<td>{userdata.address}</td>
		<td>{userdata.postalCode}</td>
		<td>{userdata.city}</td>
		<td>{userdata.province}</td>
		<td>{userdata.country}</td>
		<td>{userdata.fiscalCode}</td>
		<td>{userdata.vatNumber}</td>
	</tr>
</table>